@import "common";

footer {
  position: relative;
  background-color: $main-bg-color;
  font-size: 0.75rem;
  margin-top: 100px;
  padding: 50px 20px;
  @include responsive(padding, 50px 40px, 640px);
  @include responsive(padding, 50px 60px, 1280px);
  @include responsive(padding, 50px 80px, 1440px);

  display: flex;
  flex-direction: column;
  @include responsive(flex-direction, row, 640px);
  flex-wrap: wrap;

  .logo {
    width: 160px;
    @include responsive(width, 240px, 640px);
    margin-right: 50px;
  }

  .copyright {
    flex: 1;
    text-align: left;
    @include responsive(text-align, center, 640px);
    @include responsive(text-align, right, 1024px);
    flex-basis: 100%;
    @include responsive(flex-basis, auto, 1024px);
    align-self: stretch;
    @include responsive(align-self, flex-end, 1024px);
  }

  .to-top {
    cursor: pointer;
    flex: 1;
    width: 50px;
    height: 50px;
    color: #ffffff;

    position: absolute;
    right: 30px; /* padding add 10px */
    @include responsive(right, 50px, 640px);
    @include responsive(right, 70px, 1280px);
    @include responsive(right, 90px, 1440px);
    top: -25px;

    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      z-index: 5;
      padding-top: 25px;
    }

    &:before {
      @include pseudo-element(100%, 100%, absolute);
      transform: rotate(45deg);
      background-color: $primary-color;
      top: 0;
      left: 0;
    }
    &:after {
      @include pseudo-element(30%, 30%, absolute);
      transform: rotate(45deg);
      border: solid #ffffff;
      border-width: 2px 0 0 2px;
      top: 32%;
      left: 32%;
    }
  }
}
