@import "common";

body > article > header {
  height: 560px;
  @include responsive(height, 600px, 1440px);
  position: relative;
  border-top: 10px solid $primary-color;
  margin-bottom: 60px;
  @include responsive(margin-bottom, 0, 1280px);

  &:before {
    @media screen and (min-width: 1024px) {
      @include pseudo-element(0, 0, absolute);
      border-left: 220px solid $primary-color;
      border-top: 220px solid transparent;
      border-bottom: 220px solid transparent;
      left: -80px;
    }
    @media screen and (min-width: 1440px) {
      left: 0;
    }
  }

  .logo {
    position: absolute;
    left: 20px;
    @include responsive(left, 40px, 640px);
    @include responsive(left, 80px, 1280px);
    @include responsive(left, 140px, 1440px);
    top: 30px;
    @include responsive(top, 40px, 640px);
    width: 100px;
    @include responsive(width, 200px, 640px);
  }

  .content {
    position: relative;
    margin: 0 20px;
    @include responsive(margin, 0 40px, 640px);
    @include responsive(margin, 0 auto, 1280px);
    top: 90px;
    @include responsive(top, 140px, 640px);
    @include responsive(top, 160px, 800px);
    max-width: 1280px;

    .slogan {
      font-size: 1.5rem;
      @include responsive(font-size, 1.825rem, 640px);
      @include responsive(font-size, 2.75rem, 800px);
      color: $primary-color;
      text-align: center;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .desc {
      font-size: 0.825rem;
      @include responsive(font-size, 1rem, 640px);
      width: auto;
      @include responsive(width, 700px, 800px);
      @include responsive(width, 890px, 1280px);
      margin: 0 auto;
      text-align: justify;
    }
  }

  .scroll-down-container {
    position: absolute;
    bottom: -18px;
    @include responsive(bottom, -28px, 1440px);
    height: 135px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .scroll-down {
      position: relative;
      cursor: pointer;
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
      color: $invert-font-color;

      > div {
        position: relative;
        padding-top: 32px;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.75rem;
      }

      &:before {
        @include pseudo-element(100%, 100%, absolute);
        transform: rotate(45deg);
        background-color: $primary-color;
        top: 0;
        left: 0;
      }
      &:after {
        @include pseudo-element(30%, 30%, absolute);
        transform: rotate(225deg);
        border: solid $invert-font-color;
        border-width: 2px 0 0 2px;
        border-radius: 2px;
        top: 10%;
        left: 34%;
      }
    }
    .diamond-container {
      .diamond {
        width: 5px;
        height: 5px;
        margin-bottom: 5px;
        transform: rotate(45deg);
        background-color: $primary-color;
      }
    }
  }
}
