@import "common";

.leadership .content {
  background-color: #F5F2E9;
  padding: 20px;
  @media screen and (min-width: 640px) and (max-width: 800px) {
    padding: 20px !important;
  }
  @include responsive(padding, 0, 800px);
  @include responsive(display, flex, 800px);
  @include responsive(flex-direction, row, 800px);
  align-items: center;

  .image {
    background-image: image-url("images/TT.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    @include photo-size(100px, 640px);
    @include photo-size(220px, 800px);
    @include photo-size(350px, 1024px);
    @include photo-size(440px, 1280px);

    @media screen and (min-width: 640px) and (max-width: 800px) {
      position: absolute;
    }
  }
  .title {
    font-size: 1.25rem;
    @include responsive(font-size, 1.875rem, 640px);
    font-weight: bold;
    margin: 10px 0;

    @media screen and (min-width: 640px) and (max-width: 800px) {
      height: 100px;
      padding-left: 120px;
      display: flex;
      align-items: center;
      margin: 0;
    }
    @include responsive(flex, 1, 800px);
  }
  .desc {
    flex: 1;
    @include responsive(padding, 30px 30px, 800px);
    @include responsive(padding, 80px 70px, 1280px);
  }
}