@charset "utf-8";
@import "normalize";
@import "common";
@import "header";
@import "solution";
@import "leadership";
@import "footer";

body {
  font-family: "微軟正黑體", "PingFang TC", sans-serif;
  font-size: 1em;
  background: $body-bg-color;
  color: $default-font-color;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 560px;
  @include responsive(height, 800px, 1440px);
  background-color: $main-bg-color;
  z-index: -1;
}

section {
  margin-bottom: 30px;
  @include responsive(margin-bottom, 60px, 640px);
}

section article {
  box-sizing: border-box;
  clear: both;
  padding: 0;
  @include responsive(padding, 0 40px, 640px);
  @include responsive(padding, 0 60px, 1280px);
  @include responsive(padding, 0 80px, 1440px);
  max-width: 1280px;
  margin: 0 auto;

  header {
    padding: 0 20px;
    @include responsive(padding, 0, 640px);
    margin-bottom: 30px;
    @include responsive(margin-bottom, 40px, 640px);
    font-size: 2.25rem;
    font-weight: bold;

    &:after {
      @include pseudo-element(150px, 10px);
      background-color: $main-border-color;
      top: 10px;
    }
  }
  .content {
    padding: 0 20px;
    @include responsive(padding, 0, 640px);
  }
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.team .content {
  background-image: image-url("images/world-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px;
  @include responsive(padding, 23px 0, 640px);

  .desc {
    text-align: justify;
    background-color: $team-bg-color;
    padding: 20px;
    @include responsive(padding, 30px, 640px);
    @include responsive(padding, 40px, 800px);
    box-sizing: border-box;
    width: auto;
    @include responsive(width, 540px, 640px);
    @include responsive(width, 680px, 800px);

    p {
      margin-top: 0;
    }
  }
}

.map {
  height: 342px;
}
