<div class="carousel">
    <div class="carousel-items" data-count="{{paginator.posts | size}}">
        {% for post in paginator.posts %}
        <a class="carousel-item
        {% if forloop.index == 1 %}
        active
        {% endif %}
        " data-index="{{ forloop.index | minus: 1 }}" href={{post.url}}>
        {% if forloop.index == 1 %}
            <img src="{{post.banner}}">
        {% else %}
            <img class="lazy" data-src="{{post.banner}}">
        {% endif %}
            <div class="carousel-item-information-container">
                <div class="carousel-item-information">
                    <div class="carousel-item-information-date date">
                        {{post.date | date: site.date_format }}
                    </div>
                    <div class="carousel-item-information-title title">
                        {{post.title}}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="carousel-indicators">
        {% for post in paginator.posts %}
        <div class="carousel-indicator
        {% if forloop.index == 1 %}
        active
        {% endif %}
        " data-index="{{ forloop.index | minus: 1 }}">

        </div>
        {% endfor %}
    </div>
</div>
