<form class="contact-us-form" id="contact-us-form">
    <div class="title title-xl">{% t contact-us-form.title %}</div>
    <div class="form-inputs">
        <div class="form-group">
            <label for="first_name">{% t contact-us-form.first_name %}</label>
            <input type="text" placeholder="{% t contact-us-form.first_name %}" name="first_name" class="form-control">
        </div>

        <div class="form-group">
            <label for="last_name">{% t contact-us-form.last_name %}</label>
            <input type="text" placeholder="{% t contact-us-form.last_name %}" name="last_name" class="form-control">
        </div>

        <div class="form-group">
            <label for="email">{% t contact-us-form.email %}</label>
            <input type="email" placeholder="{% t contact-us-form.email %}" name="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="phone_number">{% t contact-us-form.phone_number %}</label>
            <input type="number" placeholder="{% t contact-us-form.phone_number %}" name="phone_number" class="form-control">
        </div>

        <div class="form-group">
            <label for="company_name">{% t contact-us-form.company_name %}</label>
            <input type="text" placeholder="{% t contact-us-form.company_name %}" name="company_name" class="form-control">
        </div>

        <div class="form-group">
            <label for="job_title">{% t contact-us-form.job_title %}</label>
            <input type="text" placeholder="{% t contact-us-form.job_title %}" name="job_title" class="form-control">
        </div>

        <div class="form-group">
            <label for="country">{% t contact-us-form.country %}</label>
            <input type="text" placeholder="{% t contact-us-form.country %}" name="country" class="form-control">
        </div>

        <div class="form-submit">
            <button type="submit" class="button" id="contact-us-form-submit">
                {% t contact-us-form.submit %}
            </button>
        </div>
    </div>
</form>
