<form class="contact-us-form form" id="contact-us-form">
    <div class="form-title title">{% t contact-us-form.title %}</div>
    <div class="form-inputs">
        <div class="form-group">
            <label for="first-name">{% t contact-us-form.first-name %}</label>
            <input type="text" placeholder="{% t contact-us-form.first-name %}" name="first-name" class="form-control">
        </div>

        <div class="form-group">
            <label for="last-name">{% t contact-us-form.last-name %}</label>
            <input type="text" placeholder="{% t contact-us-form.last-name %}" name="last-name" class="form-control">
        </div>

        <div class="form-group">
            <label for="email">{% t contact-us-form.email %}</label>
            <input type="email" placeholder="{% t contact-us-form.email %}" name="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="phone-number">{% t contact-us-form.phone-number %}</label>
            <input type="text" placeholder="{% t contact-us-form.phone-number %}" name="phone-number"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="company-name">{% t contact-us-form.company-name %}</label>
            <input type="text" placeholder="{% t contact-us-form.company-name %}" name="company-name"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="job-title">{% t contact-us-form.job-title %}</label>
            <input type="text" placeholder="{% t contact-us-form.job-title %}" name="job-title" class="form-control">
        </div>

        <div class="form-group">
            <label for="country">{% t contact-us-form.country %}</label>
            <input type="text" placeholder="{% t contact-us-form.country %}" name="country" class="form-control">
        </div>

        <button class="button form-submit" id="contact-us-form-submit">
            {% t contact-us-form.submit %}
        </button>
    </div>
</form>
