<footer class="footer">
    <div class="footer-logo-and-menu">
        <a class="footer-logo" href="/">
            {% asset TeamT5_EN_HT.svg %}
        </a>
        <div class="footer-menu">
            <div class="footer-item">
                <div class="footer-item-title">{% t footer.product %}</div>
                <a class="footer-item-link" href="{% t links.products.threatsonar %}">{% t footer.threatsonar %}</a>
                <a class="footer-item-link" href="{% t links.products.threatvision %}">{% t footer.threatvision %}</a>

            </div>
            <div class="footer-item">
                <a class="footer-item-title footer-item-link" href="{% t links.partner %}">{% t footer.partner %}</a>
                <a class="footer-item-title footer-item-link" href="{% t links.resource %}">{% t footer.resource %}</a>
            </div>
            <div class="footer-item">
                <div class="footer-item-title">{% t footer.company.title %}</div>
                <a class="footer-item-link" href="{% t links.company.about-us %}">{% t footer.company.about-us %}</a>
                <a class="footer-item-link"
                    href="{% t links.company.contact-us %}">{% t footer.company.contact-us %}</a>
                <a class="footer-item-link" href="{% t links.company.careers %}">{% t footer.company.careers %}</a>
                <a class="footer-item-link" href="{% t links.company.newsroom %}">{% t footer.company.newsroom %}</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-informations-and-language-selector">
        <div class="footer-informations">
            <div class="footer-copyright">
                {% t footer.copyright %}
            </div>
            <div class="footer-privacy-and-cookies-policy">
                <a href="{% t links.privacy-and-cookies-policy %}">{% t footer.privacy-and-cookies-policy %}</a>
            </div>
            <div class="footer-terms-of-service">
                <a href="{% t links.terms-of-service %}">{% t footer.terms-of-service %}</a>
            </div>
        </div>
    </div>
    <div class="scroll-top">
        <div class="scroll-top-square rotate-clockwise-45">
            <div class="scroll-top-content rotate-counterwise-45">
                <div class="scroll-top-arrow rotate-clockwise-45">
                </div>
                <div class="scroll-top-text">
                    {% t footer.scroll-top %}
                </div>
            </div>
        </div>
    </div>
</footer>
