<header class="navbar">
    <div class="navbar-brand-and-menu">

        <div class="navbar-brand">
            <a class="navbar-brand-logo" href="{% t links.index %}">
                {% asset TeamT5-logo.svg %}
            </a>
            <div class="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-item navbar-item-has-submenu">
                <div class="navbar-item-link
            {% capture products %}
            {% t links.products.threatsonar %}
            {% t links.products.threatvision %}
            {% endcapture %}
                {% if products contains page.layout %}
                    is-current
                {% endif %}
            ">
                    <div class="navbar-item-title title">
                        {% t header.product %}
                    </div>
                    <div class="navbar-item-arrow-container">
                        <div class="navbar-item-arrow">
                        </div>
                    </div>
                </div>
                <div class="navbar-submenu">
                    <a class="navbar-submenu-item-link" href="{% t links.products.threatsonar %}">
                        <div class="navbar-submenu-item title">
                            {% t header.threatsonar %}
                        </div>
                    </a>
                    <a class="navbar-submenu-item-link" href="{% t links.products.threatvision %}">
                        <div class="navbar-submenu-item title">
                            {% t header.threatvision %}
                        </div>
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <a class="navbar-item-link
            {% if page.layout contains 'partner'%}
                is-current
            {% endif %}
            " href="{% t links.partner %}">
                    <div class="navbar-item-title title">
                        {% t header.partner %}
                    </div>
                </a>
            </div>
            <div class="navbar-item">
                <a class="navbar-item-link
            {% if page.layout contains 'support' %}
                is-current
            {% endif %}
            " href="{% t links.support %}">
                    <div class="navbar-item-title title">
                        {% t header.support %}
                    </div>
                </a>
            </div>
            <div class="navbar-item">
                <a class="navbar-item-link
            {% if page.layout contains 'resource' %}
                is-current
            {% endif %}
            " href="{% t links.resource %}">
                    <div class="navbar-item-title title">
                        {% t header.resource %}
                    </div>
                </a>
            </div>
            <div class="navbar-item navbar-item-has-submenu">
                <div class="navbar-item-link

            {% capture company %}
            {% t links.company.about-us %}
            {% t links.company.contact-us %}
            {% t links.company.careers %}
            {% t links.company.newsroom %}
            {% endcapture %}
                {% if company contains page.layout %}
                    is-current
                {% endif %}
            ">
                    <div class="navbar-item-title title">
                        {% t header.company.title %}</div>
                    <div class="navbar-item-arrow-container">
                        <div class="navbar-item-arrow">
                        </div>
                    </div>
                </div>
                <div class="navbar-submenu">
                    <a class="navbar-submenu-item-link" href="{% t links.company.about-us %}">
                        <div class="navbar-submenu-item title">
                            {% t header.company.about-us %}
                        </div>
                    </a>
                    <a class="navbar-submenu-item-link" href="{% t links.company.contact-us %}">
                        <div class="navbar-submenu-item title">
                            {% t header.company.contact-us %}
                        </div>
                    </a>
                    <a class="navbar-submenu-item-link" href="{% t links.company.careers %}">
                        <div class="navbar-submenu-item title">
                            {% t header.company.careers %}
                        </div>
                    </a>
                    <a class="navbar-submenu-item-link" href="{% t links.company.newsroom %}">
                        <div class="navbar-submenu-item title">
                            {% t header.company.newsroom %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-submenu-padding">
        <div class="navbar-submenu-padding-box">

        </div>
    </div>
</header>
