<head>
  <meta charset="utf-8" />
  <title>TeamT5 - Persistent Cyber Threat Hunters</title>
  <meta
    name="description"
    content="TeamT5 is a group of hackers dedicated on cyber threat research. The team started with their outstanding research and has been delivering their cyber threat intelligence (CTI) for more than 5 years."
  />
  <meta
    name="keywords"
    content="TeamT5, ThreatSonar, ThreatVision, cyber espionage, TT, Cyber Threat Hunters, cyber espionage solutions, threat analysis service, incident response, investigation services, threat intelligence, Elegant Threat Hunting Technology"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    property="og:title"
    content="TeamT5 - Persistent Cyber Threat Hunters"
  />
  <meta
    property="og:description"
    content="TeamT5 is a group of hackers dedicated on cyber threat research. The team started with their outstanding research and has been delivering their cyber threat intelligence (CTI) for more than 5 years."
  />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/assets/images/og-image.jpg" />
  <link
    href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&display=swap&subset=chinese-traditional"
    rel="stylesheet"
  />
  <link rel="icon" type="image/icon" href="/assets/images/favicon.ico" />
  {% asset main.css %} {% asset main.js %}
</head>
