<form class="form" id="position-form">
    <div class="form-title">{% t position-form.title %}</div>
    <div class="form-inputs">
        <div class="form-group">
            <label for="chinese-name">{% t position-form.chinese-name %}</label>
            <input type="text" placeholder="{% t position-form.chinese-name %}" name="chinese-name"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="english-name">{% t position-form.english-name %}</label>
            <input type="text" placeholder="{% t position-form.english-name %}" name="english-name"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="email">{% t position-form.email %}</label>
            <input type="email" placeholder="{% t position-form.email %}" name="" class="form-control">
        </div>

        <div class="form-group">
            <label for="phone-number">{% t position-form.phone-number %}</label>
            <input type="text" placeholder="{% t position-form.phone-number %}" name="phone-number"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="position-sought">{% t position-form.position-sought %}</label>
            <input type="text" placeholder="{% t position-form.position-sought %}" name="position-sought"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="how-do-you-know-our-company">{% t position-form.how-do-you-know-our-company %}</label>
            <input type="text" placeholder="{% t position-form.how-do-you-know-our-company %}"
                name="how-do-you-know-our-company" class="form-control">
        </div>

        <div class="form-group">
            <label for="available-start-date">{% t position-form.available-start-date %}</label>
            <input type="text" placeholder="{% t position-form.available-start-date %}" name="available-start-date"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="currently-employed-company">{% t position-form.currently-employed-company %}</label>
            <input type="text" placeholder="{% t position-form.currently-employed-company %}"
                name="currently-employed-company" class="form-control">
        </div>

        <div class="form-group">
            <label for="job-expectation">{% t position-form.job-expectation %}</label>
            <textarea placeholder="{% t position-form.job-expectation %}" name="job-expectation"
                class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label
                for="remark-or-anything-you-want-to-tell-us">{% t position-form.remark-or-anything-you-want-to-tell-us %}</label>
            <textarea placeholder="{% t position-form.remark-or-anything-you-want-to-tell-us %}"
                name="remark-or-anything-you-want-to-tell-us" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="education-resume-url">{% t position-form.education-resume-url %}</label>
            <textarea placeholder="{% t position-form.education-resume-url %}" name="education-resume-url"
                class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="portfolio-url">{% t position-form.portfolio-url %}</label>
            <textarea placeholder="{% t position-form.portfolio-url %}" name="portfolio_url"
                class="form-control"></textarea>
        </div>

        <div class="form-submit">
            <div class="button" id="position-form-submit">
                {% t position-form.submit %}
            </div>
        </div>
    </div>
</form>
