{% unless page.type %}
{% assign sticky = "sticky" | prepend: '_' | prepend: page.category %}
{% assign post = site.posts | where: category, page.category | where: sticky, true | first %}
<a class="sticky-post" href="{{ post.url }}">
    <div class="sticky-post-banner">
        <img src="{{post.banner}}">
    </div>
    <div class="sticky-post-information">
        <div class="sticky-post-meta">
            <div class="sticky-post-date post-date">
                {{ post.date | date: "%Y-%m-%d" }}
            </div>
            <div class="sticky-post-tags post-tags tags">
                {% for tag in post.tags %}
                <span class="tag">
                    {{ tag }}
                </span>
                {% endfor %}
            </div>
            <div class="sticky-post-title post-title title">
                {{ post.title }}
            </div>
        </div>
        <div class="sticky-post-read-more-button-container">
            <div class="sticky-post-read-more-button button button-with-arrow">
                {% t sticky-post.read-more %}
            </div>
        </div>
    </div>
</a>
{% endunless %}
