@import 'base';

body {
  .page-not-found-container {
    align-items: center;
    background-color: $background-color;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
  }

  .page-not-found {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px;
    justify-items: center;

    @include responsive(800px) {
      grid-gap: 30px;
      grid-template-columns: auto;
    }
  }

  .page-not-found-logo {
    width: 200px;

    @include responsive(800px) {
      width: auto;
    }

    img {
      width: 100%;
    }
  }

  .page-not-found-take-me-home-button {
    @include flex-center-align;
    height: 40px;
    width: 200px;

    @include responsive(800px) {
      width: 280px;
    }
  }
}
