@import 'base';

.articles {
  display: grid;

  .article {
    align-items: center;
    border-bottom: 1px solid $light-background-color;
    cursor: pointer;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    justify-content: start;
    padding: 10px;

    @include responsive(800px) {
      grid-auto-flow: column;
      grid-template-columns: auto;
      padding: 20px;
    }

    &:hover {
      background-color: $background-color;
    }

    .article-title {
      grid-column: 1 / span 2;

      @include responsive(800px) {
        grid-column: auto;
      }
    }
  }
}
