$background-color: #f5f2e9;
$light-background-color: #d3cec7;
$code-background-color: #f5f5f5;
$code-border-color: #e3e3e3;
$font-color-hover: #948e8c;
$normal-color: #4c433f;
$primary-color: #d83751;
$secondary-color: #f6ac19;
$figcaption-color: #848484;
$sonar-color: #c71532;
$list-bullet: "\2022";
$news-more-button-arrow-side-length: 10px;

$button-background-color: $primary-color;
$button-hover-background-color: #e88797;
$button-click-background-color: #a82a3e;
$button-success-color: #2eca72;
$button-color: white;
$font-weight-medium: 500;
$new-height: 60px;
$arrow-width: 2px;

$max-width: 1280px;
$tablet: 769px;
$square-root-of-two: 1.414;
$square-side-length: 60px;
$diamond-side-length: 7.1px;

$xs-margin-horizontal: 10px;
$sm-margin-horizontal: 20px;
$md-margin-horizontal: 40px;
$lg-margin-horizontal: 80px;

$xs-padding-horizontal: $xs-margin-horizontal;
$sm-padding-horizontal: $sm-margin-horizontal;
$md-padding-horizontal: $md-margin-horizontal;
$lg-padding-horizontal: $lg-margin-horizontal;

@mixin page-margin-horizontal {
  margin-left: $xs-margin-horizontal;
  margin-right: $xs-margin-horizontal;
  @include responsive(640px) {
    margin-left: $sm-margin-horizontal;
    margin-right: $sm-margin-horizontal;
  }
  @include responsive(800px) {
    margin-left: $md-margin-horizontal;
    margin-right: $md-margin-horizontal;
  }
  @include responsive(1280px) {
    margin-left: $lg-margin-horizontal;
    margin-right: $lg-margin-horizontal;
  }
}

@mixin page-padding-horizontal {
  padding-left: $xs-padding-horizontal;
  padding-right: $xs-padding-horizontal;
  @include responsive(640px) {
    padding-left: $sm-padding-horizontal;
    padding-right: $sm-padding-horizontal;
  }
  @include responsive(800px) {
    padding-left: $md-padding-horizontal;
    padding-right: $md-padding-horizontal;
  }
  @include responsive(1280px) {
    padding-left: $lg-padding-horizontal;
    padding-right: $lg-padding-horizontal;
  }
}

$xs-post-margin-horizontal: 20px;
$sm-post-margin-horizontal: 40px;
$md-post-margin-horizontal: 140px;
$lg-post-margin-horizontal: 270px;

$xs-post-padding-horizontal: $xs-post-margin-horizontal;
$sm-post-padding-horizontal: $sm-post-margin-horizontal;
$md-post-padding-horizontal: $md-post-margin-horizontal;
$lg-post-padding-horizontal: $lg-post-margin-horizontal;

@mixin post-page-margin-horizontal {
  margin: 0 $xs-post-margin-horizontal;
  @include responsive(640px) {
    margin: 0 $sm-post-margin-horizontal;
  }
  @include responsive(800px) {
    margin: 0 $md-post-margin-horizontal;
  }
  @include responsive(1280px) {
    margin: 0 $lg-post-margin-horizontal;
  }
}

@mixin post-page-padding-horizontal {
  padding: 0 $xs-post-padding-horizontal;
  @include responsive(640px) {
    padding: 0 $sm-post-padding-horizontal;
  }
  @include responsive(800px) {
    padding: 0 $md-post-padding-horizontal;
  }
  @include responsive(1280px) {
    padding: 0 $lg-post-padding-horizontal;
  }
}

@mixin flex-center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile() {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $tablet - 1px) {
    @content;
  }
}

@mixin responsive($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin pseudo-element($width, $height, $position: relative) {
  content: "";
  display: block;
  position: $position;
  width: $width;
  height: $height;
}

.rotate-clockwise-45 {
  transform: rotate(45deg);
}
.rotate-counterwise-45 {
  transform: rotate(-45deg);
}
