@import 'base';

.browse-by-type {
  display: grid;

  .browse-by-type-title {
    border-bottom: 1px solid $light-background-color;
    font-size: 18px;
    padding: 20px;
  }

  .browse-by-type-types {
    display: grid;
    grid-gap: 20px;
    padding: 20px;

    .browse-by-type-type {
      font-size: 14px;
    }
  }
}
