@import "base";

html {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  color: $normal-color;
  @include desktop() {
    font-size: 16px;
  }
}

// reset style set by webkit
textarea,
input {
  -webkit-appearance: none;
}

.content {
  line-height: 1.5;
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    font-size: 12px;
  }

  .is-small {
    width: 260px;
  }
  .is-large {
    width: 280px;
  }
  img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 100%;
    & + em {
      display: block;
      margin: 0 auto;
      font-size: 12px;
      color: $figcaption-color;
    }
  }

  code {
    background-color: $code-background-color;
    border: 1px solid $code-border-color;
    border-radius: 4px;
    padding: 2px;
  }

  pre {
    padding: 10px 20px;
    overflow: auto;
    background-color: $code-background-color;
    border: 1px solid $code-border-color;
    border-radius: 4px;
    code {
      border: 0;
      padding: 0;
    }
  }

  blockquote {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    padding-block-start: 1em;
    padding-block-end: 1em;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    border-left: 6px solid $primary-color;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 1em 0;
      padding-left: 1em;
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        font-family: initial;
        content: $list-bullet;
        color: $primary-color;
        font-weight: 1000;
        width: 1em;
        display: inline-block;
      }
    }
  }

  ol {
    margin: 0;
    padding: 1em;
    li {
      margin: 1em 0;
    }
  }

  a {
    text-decoration: underline;
    color: $primary-color;
  }

  @include desktop() {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }
    p {
      font-size: 16px;
    }

    .is-small {
      width: 650px;
    }
    .is-large {
      width: 740px;
    }

    img {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
  }
}

.button {
  -webkit-appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  color: $button-color;
  background-color: $button-background-color;
  transition: background-color 1s ease-in-out;
  @include flex-center-align;
  &:hover {
    background-color: $button-hover-background-color;
  }
  &:focus {
    background-color: $button-click-background-color;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &.success {
    transition: background-color 1s ease-in-out;
    background-color: $button-success-color;
  }

  &.loading {
    cursor: wait;
    animation-name: shrink-to-circle;
    animation-duration: 1s;
  }
  @keyframes shrink-to-circle {
    0% {
      border-radius: 4px;
    }
    50% {
      content: "";
      width: 50px;
      border-radius: 25px;
    }
    100% {
      border-radius: 4px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  & > *:not(:last-child) {
    margin-right: 0.5em;
  }
  .tag {
    box-sizing: border-box;
    font-weight: bold;
    height: 20px;
    font-size: 12px;
    padding: 0px 10px;
    white-space: nowrap;
    background-color: $primary-color;
    color: white;
    @include flex-center-align;
  }
}

.title {
  font-weight: bold;
}

.title-xl {
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 20px;
  @include responsive(640) {
    font-size: 24px;
  }
  @include responsive(800px) {
    font-size: 30px;
  }
  @include responsive(1024px) {
    font-size: 40px;
  }
}

.title-lg {
  font-size: 16px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include responsive(640px) {
    font-size: 20px;
  }
  @include desktop() {
    font-size: 24px;
  }
  @include responsive(1024px) {
    font-size: 30px;
  }
}

.title-md {
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  @include desktop() {
    font-size: 24px;
  }
}

.title-underline {
  border-bottom: 5px solid $primary-color;
  padding-bottom: 10px;
  @include desktop() {
    border-bottom: 10px solid $primary-color;
  }
}

.title-leftline {
  border-left: 5px solid $primary-color;
  padding-left: 10px;
  @include desktop() {
    border-left: 10px solid $primary-color;
  }
}

.content-md {
  font-size: 14px;
  @include responsive(800px) {
    font-size: 16px;
  }
}

.sonar-title {
  line-height: 1.5;
  font-size: 18px;
  @include responsive(640px) {
    font-size: 24px;
  }
  @include responsive(800px) {
    font-size: 30px;
  }
  @include responsive(1024px) {
    font-size: 40px;
  }
}

.post-meta {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  .date {
    font-size: 14px;
    color: $primary-color;
  }
  .location {
    color: $primary-color;
    font-weight: $font-weight-medium;
  }
}
