@import 'base';
$form-input-error-color: #c81432;

.form {
  background-color: $background-color;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;

  @include responsive(640px) {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px 15px;
  }

  @include responsive(800px) {
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 50px;
  }

  @include responsive(1024px) {
    padding: 40px 60px;
  }
}

.form-title {
  align-self: center;
  font-size: 30px;
  margin-bottom: 20px;

  @include responsive(640px) {
    margin-bottom: 30px;
  }
}

.form-input-groups {
  display: grid;
  font-size: 14px;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(1, 1fr);

  @include responsive(640px) {
    grid-template-columns: repeat(2, 2fr);
  }
}

.form-input-group {
  align-content: start;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 5px;
}

.form-input-label {
  color: $normal-color;
  display: block;
  font-weight: bold;
  line-height: 1.5;
}

.form-input {
  border: 1px solid $light-background-color;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  height: 50px;
  line-height: 50px - 4px;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;

  @at-root #{&}-error {
    border-color: $form-input-error-color;
  }
}

.form-input-error-message {
  color: $form-input-error-color;
  font-size: 12px;
  height: 12px;
  padding-left: 10px;
}

.form-submit {
  height: 50px;
  transition: all 1s;
  transition-property: background-color;

  @include responsive(640px) {
    grid-column: 1 / span 2;
    justify-self: center;
    width: 280px;
  }

  @at-root #{&}-loading {
    background-color: $white;
    border: 5px solid $primary-color;
    border-radius: 50%;
    width: 50px;
  }

  @at-root #{&}-success {
    background-color: $button-success-color;
  }

  @at-root #{&}-error {
    background-color: $button-error-color;
  }
}
