@import "base";

$navbar-brand-mobile-height: 48px;
$navbar-brand-desktop-height: 62px;
$navbar-brand-mobile-padding: 0 10px;
$navbar-brand-logo-height: 30px;
$navbar-burger-side-length: $navbar-brand-logo-height;
$navbar-burger-width: 2px;

$navbar-item-desktop-height: $navbar-brand-desktop-height;
$navbar-item-desktop-margin: 0 20px;
$navbar-item-hover-box-shadow: inset 0 -5px 0 0 $primary-color;
$navbar-item-mobile-border: 0.5px solid $font-color-hover;
$navbar-item-title-height: $navbar-brand-mobile-height;
$navbar-item-title-margin: 0 5px;
$navbar-item-title-mobile-padding-left: 10px;
$navbar-item-title-mobile-padding-right: 5px;
$navbar-item-arrow-container-height: 30px;
$navbar-item-arrow-side-length: $navbar-item-arrow-container-height/$square-root-of-two/2;

$navbar-submenu-desktop-height: 40px;
$navbar-submenu-arrow-side-length: $navbar-brand-logo-height;
$navbar-submenu-item-desktop-margin: $navbar-item-desktop-margin;
$navbar-submenu-item-desktop-height: $navbar-submenu-desktop-height;
$navbar-submenu-item-mobile-height: $navbar-brand-mobile-height;
$navbar-submenu-item-mobile-padding: 0 15px;

$navbar-desktop-padding: 0 60px;
$navbar-mobile-padding: 0 10px;
$navbar-item-title-padding: 0 8px;
$navbar-submenu-mobile-background-color: $background-color;
.navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;

  @include desktop() {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: $navbar-desktop-padding;
  }

  .navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-brand-mobile-height;
    padding: $navbar-mobile-padding;

    @include desktop() {
      height: $navbar-brand-desktop-height;
    }
    .navbar-brand-link {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        height: $navbar-brand-logo-height;
        display: flex;
        justify-content: center;
        align-content: center;
        img {
          height: 100%;
        }
      }
    }

    .navbar-burger {
      position: relative;
      width: $navbar-burger-side-length;
      height: $navbar-burger-side-length;
      transition: all 0.5s ease-in-out;

      @include desktop() {
        display: none;
      }
      span {
        position: absolute;
        left: 6px;
        display: block;
        width: 18px;

        border-radius: $navbar-burger-width/2;
        height: $navbar-burger-width;
        background-color: grey;
      }
      @for $i from 1 through 3 {
        span:nth-child(#{$i}) {
          top: calc(5% + 20% * #{$i});
          transition: all 0.5s ease-in-out;
        }
      }
      &.active {
        span {
          &:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
          }
        }
      }
    }
  }

  .navbar-menu {
    max-height: 0;
    display: flex;
    flex-direction: column;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;

    @include desktop() {
      display: flex;
      flex-direction: row;
      max-height: none;
    }

    &.active {
      max-height: 100vh;
    }

    .navbar-item {
      display: flex;
      flex-direction: column;
      display: block;

      @include desktop() {
        margin: $navbar-item-desktop-margin;
        height: $navbar-item-desktop-height;
      }

      &.resource {
        //TODO: resource page
        display: none;
      }
      .navbar-item-link {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $navbar-item-title-height;
        border-bottom: $navbar-item-mobile-border;
        padding-left: $navbar-item-title-mobile-padding-left;
        padding-right: $navbar-item-title-mobile-padding-right;
        margin: $navbar-item-title-margin;
        @include desktop() {
          &.is-current {
            box-shadow: $navbar-item-hover-box-shadow;
          }
          padding: 0;
          margin: 0;
          height: $navbar-brand-desktop-height;
          border-bottom: 0;
        }
        .navbar-item-title {
          line-height: $navbar-item-title-height;
          @include desktop() {
            line-height: $navbar-item-desktop-height;

            &:hover {
              box-shadow: $navbar-item-hover-box-shadow;
            }
          }
        }
      }
      .navbar-item-arrow-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $navbar-item-arrow-container-height;
        height: $navbar-item-arrow-container-height;

        @include desktop() {
          display: none;
        }
        .navbar-item-arrow {
          position: absolute;
          width: $navbar-item-arrow-container-height/3;
          height: $navbar-item-arrow-container-height/3;
          transform: rotate(-135deg);

          border: solid grey;
          border-radius: $arrow-width;
          border-width: $arrow-width 0 0 $arrow-width;
          &.active {
            position: absolute;
            top: 50%;
            transform: rotate(45deg);
          }
        }
      }

      .navbar-submenu {
        display: flex;
        flex-direction: column;
        background-color: $navbar-submenu-mobile-background-color;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;

        @include desktop() {
          position: absolute;
          padding: $navbar-desktop-padding;
          top: $navbar-brand-desktop-height;
          right: 0;
          flex-direction: row;
          background-color: transparent;
          overflow: hidden;
        }

        &.active {
          max-height: 100vh;
          @include desktop() {
            max-height: $navbar-submenu-desktop-height;
          }
        }

        .navbar-submenu-item {
          display: flex;
          align-items: center;
          padding: $navbar-submenu-item-mobile-padding;
          height: $navbar-submenu-item-mobile-height;
          border-bottom: $navbar-item-mobile-border;
          line-height: $navbar-submenu-item-mobile-height;
          @include desktop() {
            line-height: $navbar-submenu-desktop-height;
            height: $navbar-submenu-item-desktop-height;
            padding: 0;
            border-bottom: 0;
            margin: $navbar-submenu-item-desktop-margin;
          }
          &:hover {
            color: $font-color-hover;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .navbar-submenu-padding {
    max-height: 0;
    height: 50px;
    width: 100%;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    @include desktop() {
    }
    &.active {
      @include desktop() {
        max-height: $navbar-submenu-desktop-height;
      }
    }
    .navbar-submenu-padding-content {
      max-height: $navbar-submenu-desktop-height;
    }
  }
}
