@import "base";
$scroll-bottom-margin: 100px;
main.index {
  .hero {
    margin: 20px;
    height: 300px;
    background: $background-color;
    @include flex-center-align;
    display: none;
  }

  .banner {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: asset_url("persistent_cyber_threat_hunters_bg.svg");
    background-color: $background-color;
    @include responsive(640px) {
      margin-bottom: $scroll-bottom-margin + 20px;
      padding: 40px;
      padding-bottom: $square-side-length * $square-root-of-two + 40px;
    }
    @include responsive(1024px) {
      margin-bottom: $scroll-bottom-margin + 40px;
    }
    .banner-title {
      color: $primary-color;
    }
    .banner-content {
      text-align: justify;
      width: 280px;
      @include responsive(640px) {
        width: 540px;
      }
      @include responsive(800px) {
        width: 680px;
      }
    }
    .scroll-bottom {
      display: none;
      position: absolute;
      bottom: 0;

      width: $square-side-length * $square-root-of-two;
      height: $square-side-length * $square-root-of-two;

      cursor: pointer;
      @include responsive(640px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .scroll-bottom-square {
        width: $square-side-length;
        height: $square-side-length;

        background: $primary-color;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .scroll-bottom-content {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .scroll-bottom-arrow {
            position: absolute;
            top: -$square-side-length/3/$square-root-of-two * 2;
            width: $square-side-length/3;
            height: $square-side-length/3;

            border: solid white;
            border-width: 0 3px 3px 0;
          }
          .scroll-bottom-text {
            position: absolute;
            top: 0;
            font-size: 12px;
            color: white;
          }
        }
      }
      .diamonds {
        position: absolute;
        top: calc(100% + 20px);

        display: grid;
        grid-auto-rows: auto;
        grid-gap: 10px;
        justify-content: center;
        align-content: center;
        .diamond {
          width: $diamond-side-length;
          height: $diamond-side-length;
          background: $primary-color;
        }
      }
    }
  }
  .products-and-news {
    display: grid;
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    @include responsive(800px) {
      margin-left: 20px;
      margin-right: 20px;
      grid-gap: 20px;
    }
    @include responsive(1024px) {
      margin-left: 40px;
      margin-right: 40px;
      grid-gap: 40px;
    }
    @include responsive(1280px) {
      margin-left: 60px;
      margin-right: 60px;
      grid-gap: 60px;
    }
    .products {
      display: grid;
      grid-gap: 10px;
      @include responsive(800px) {
        grid-gap: 20px;
      }
      .products-title {
        justify-self: start;
      }
      .products-subtitle {
        color: $primary-color;
      }
      .products-content {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 10px;
        @include responsive(640px) {
          grid-auto-flow: column;
          grid-gap: 20px;
        }
        .product {
          //position: relative;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 30px;
          background-color: $background-color;
          text-align: center;

          @include responsive(640px) {
            flex-wrap: nowrap;
            padding: 30px 0px;
          }

          @include responsive(800px) {
            padding: 50px 0px;
          }
          .product-title {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 12px;
            @include responsive(800px) {
              font-size: 16px;
            }
            @include responsive(1024px) {
              font-size: 20px;
            }
          }
          .product-logo {
            //order: -1;
            //flex: 1 100%;
            margin-bottom: 20px;
            width: 35%;
            @include responsive(640px) {
              //height: auto;
              //order: 0;
            }
            img {
              width: 100%;
            }
          }

          .product-name {
            color: $primary-color;
          }
          .product-subtitle {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 30px;

            @include responsive(800px) {
              font-size: 20px;
            }
            @include responsive(1024px) {
              font-size: 24px;
              margin-bottom: 40px;
            }
          }

          .product-learn-more {
            width: 200px;
            height: 40px;
            font-size: 20px;
            line-height: 40px;
            //position: absolute;
            //bottom: 0;
            //right: 0;
            @include responsive(640px) {
              //position: initial;
            }
            @include responsive(1024px) {
              width: 400px;
            }
          }
        }
      }
    }
    .latest-news {
      display: grid;
      grid-gap: 10px;
      @include responsive(800px) {
        grid-gap: 20px;
      }
      .latest-news-title {
        justify-self: start;
      }
      .latest-news-content {
      }
      .latest-news-more-button {
        justify-self: end;
        width: 90px;
        height: 20px;
        font-size: 12px;
        @include responsive(640px) {
          font-size: 14px;
          width: 120px;
          height: 36px;
        }
        @include responsive(800px) {
          font-size: 20px;
          width: 145px;
        }
      }
    }
  }
}
