@import "base";
$body-top-border: 5px solid $primary-color;
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  border-top: $body-top-border;
  .header-container {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
      box-sizing: border-box;
      width: 100%;
      max-width: $max-width;
    }
  }
  .main-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    main {
      box-sizing: border-box;
      align-self: center;
      width: 100%;
      max-width: $max-width;
      display: flex;
      flex-direction: column;
    }
  }
  .footer-container {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    footer {
      box-sizing: border-box;
      width: 100%;
      max-width: $max-width;
    }
  }
}
