@import "base";
.pagination{
  font-size: 16px;
  font-family: GenJyuuGothic-P-Medium;
  margin: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 20px;
  grid-gap: 10px;
  grid-auto-flow: column;
  .page-item{
    .page-link{
      &.is-current{
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }
}
