@import "base";

.pagination {
  align-items: center;
  display: grid;
  font-size: 16px;
  grid-auto-columns: 20px;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-items: center;
  margin: 20px;
}

.page-link {
  &.is-current {
    color: $primary-color;
    text-decoration: underline;
  }
}
