.page-title-container {
	display: flex;
	align-items: center;
	height: 48px;
	background-color: $background-color;

	@include page-padding-horizontal;
	@include responsive(640px){
		height: 80px;
	}
	@include responsive(800px){
		height: 100px;
	}
}
