@import 'base';

.page-title-container {
  align-items: center;
  background-color: $background-color;
  display: flex;
  flex-direction: column;

  .page-title {
    @include page-padding-horizontal;
    align-items: center;
    background-color: $background-color;
    box-sizing: border-box;
    display: flex;
    max-width: $max-width;
    width: 100%;

    .page-title-content {
      margin-bottom: .5em;
      margin-top: .5em;
    }
  }
}
