@import 'base';

.post-layout {
  grid-gap: 20px;

  .blog-form-container {
    @include post-page-padding-horizontal;
  }

  .post-meta {
    @include post-page-padding-horizontal;
  }

  .post-date {
    color: $primary-color;
  }

  .post-banner {
    background-clip: content-box;
    background-color: $primary-color;

    @include responsive(640px) {
      @include post-page-padding-horizontal;
    }

    img {
      opacity: .8;
      vertical-align: bottom;
      width: 100%;
    }
  }

  .post-content {
    @include post-page-padding-horizontal;
  }

  .back-button {
    @include flex-center-align;
    margin: 20px;

    @include responsive(640px) {
      margin: 40px 20px;
    }
  }
}
