@import "base";

.position-layout {
  @include post-page-padding-horizontal;
  grid-gap: 20px;

  .back-button {
    margin: 0 20px;

    @include responsive(640px) {
      margin: 20px 0;
    }
  }
}
