@import "base";
.post-page-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .post-page-title {
    box-sizing: border-box;
    width: 100%;
    max-width: $max-width;
    display: flex;
    align-items: center;
    height: 48px;
    @include post-page-padding-horizontal;
    @include responsive(640px) {
      height: 80px;
    }
    @include responsive(800px) {
      height: 100px;
    }
  }
}
