@import "base";
.post-page-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .post-page-title {
    box-sizing: border-box;
    width: 100%;
    max-width: $max-width;
    display: flex;
    align-items: center;
    @include post-page-padding-horizontal;
  }
}
