@import 'base';

.resource-layout {
  .resource-posts-and-browse-by-type {
    @include page-margin-horizontal;
    align-items: start;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;
    margin-top: 10px;

    @include responsive(640px) {
      margin-top: 20px;
      max-width: 600px;
    }

    @include responsive(800px) {
      max-width: 740px;
    }

    @include responsive(1280px) {
      grid-template-columns: 740px 1fr;
      max-width: none;
    }
  }

  .resource-posts {
    display: grid;
    grid-gap: 20px;
  }

  .posts {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);

    @include responsive(640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(800px) {
      grid-gap: 20px;
    }
  }

  .post {
    align-items: center;
    background-color: $background-color;
    border: 3px solid transparent;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    justify-content: start;
    padding: 20px;

    &:hover {
      border: 3px solid $primary-color;
    }
  }

  .post-logo {
    height: 60px;
    width: 60px;

    @include responsive(800px) {
      height: 80px;
      width: 80px;
    }

    object {
      height: 100%;
      width: 100%;
    }
  }

  .post-meta {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    justify-content: start;
  }

  .post-date {
    color: $primary-color;
  }

  .pagination {
    @include responsive(640px) {
      justify-self: end;
    }
  }
}
