@import 'base';

.resource-browse-by-type-layout {
  .posts-and-browse-by-type {
    @include page-margin-horizontal;
    align-items: start;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;

    @include responsive(640px) {
      margin-top: 20px;
      max-width: 600px;
    }

    @include responsive(800px) {
      max-width: 740px;
    }

    @include responsive(1280px) {
      grid-template-columns: 740px 1fr;
      max-width: none;
    }
  }

  .posts {
    .pagination {
      @include responsive(640px) {
        justify-self: end;
      }
    }
  }
}
