@import 'base';
$sticky-post-information-background-color: rgba(0, 0, 0, .6);

.sticky-post {
  display: block;
  position: relative;

  @include responsive(640px) {
    @include page-margin-horizontal;
    margin-top: 20px;
    max-width: 600px;
  }

  @include responsive(800px) {
    max-width: 740px;
  }

  @include responsive(1280px) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 740px auto;
    max-width: none;
  }
}

.sticky-post-banner {
  background-clip: content-box;
  background-color: $primary-color;
  position: relative;


  &::after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  img {
    height: 100%;
    object-fit: cover;
    opacity: .8;
    position: absolute;
    vertical-align: bottom;
    width: 100%;
  }
}

.sticky-post-information {
  background-color: $sticky-post-information-background-color;
  bottom: 0;
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0;

  @include responsive(640px) {
    padding: 15px;
  }

  @include responsive(800px) {
    padding: 20px;
  }

  @include responsive(1280px) {
    @include flex-center-align;
    background-color: $background-color;
    position: relative;
  }
}

.sticky-post-meta {
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  grid-template-columns: auto 1fr;
  justify-content: stretch;
  position: relative;

  @include responsive(800px) {
    grid-column-gap: 10px;
  }

  @include responsive(1280px) {
    display: block;
  }
}

.sticky-post-date {
  @include flex-center-align;
  color: $white;

  @include responsive(1280px) {
    bottom: calc(100% + 40px);
    color: $primary-color;
    position: absolute;
  }
}

.sticky-post-tags {
  @include responsive(1280px) {
    bottom: calc(100% + 10px);
    position: absolute;
  }
}

.sticky-post-title {
  color: $white;
  font-size: 20px;
  grid-column: 1 / span 2;

  @include responsive(640px) {
    font-size: 22px;
  }

  @include responsive(1280px) {
    color: $normal-color;
    grid-column: auto;
  }
}

.sticky-post-read-more-button-container {
  bottom: 0;
  position: absolute;
  right: 0;
}

.sticky-post-read-more-button {
  display: none;

  @include responsive(1280px) {
    align-items: center;
    align-self: flex-end;
    box-sizing: border-box;
    display: flex;
    font-size: 20px;
    height: 36px;
    padding-bottom: 1px;
    padding-left: 18px;
    width: 145px;
  }
}
