@import "base";

.support-layout {
  .global-support {
    @include page-margin-horizontal;
    display: grid;

    grid-gap: 20px;

    @include responsive(800px) {
      grid-gap: 30px;
    }
  }

  .global-support__title {
    justify-self: flex-start;
  }

  .global-support__image {
    img {
      width: 100%;
    }
  }
}
