@import "base";
main.support {
  .global-support {
    display: flex;
    flex-direction: column;
    @include page-margin-horizontal;
    .global-support-title {
      align-self: flex-start;
    }
    .global-support-content {
      padding: 20px 0;
      @include responsive(800px){
        padding: 30px 0;
      }
    }
    .global-support-banner {
      img {
        width: 100%;
      }
    }
  }
}
