@import "base";
$sonar-hero-banner-mobile-height: 300px;
$sonar-hero-banner-desktop-height: 450px;
$sonar-hero-banner-background: $sonar-color;
$sonar-mac-width: 800px;
$sonar-mac-height: 400px;
$banner-slogan-height: 34px;

main.threatsonar {
  .banner-container {
    .banner {
      box-sizing: border-box;
      height: 250px;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      background: $sonar-hero-banner-background asset_url("sonar_bg_triangle.svg") no-repeat center bottom;
      background-size: 100% auto;
      @include responsive(640px) {
        height: 300px;
      }
      @include responsive(800px) {
        height: 350px;
        padding: 25px 0;
      }
      @include responsive(1024px) {
        height: 450px;
      }
      .banner-slogan {
        align-self: flex-start;
        white-space: nowrap;
        height: 24px;
        padding: 0px 20px;
        margin-bottom: 25px;
        background-color: $normal-color;
        color: white;
        font-weight: bold;
        font-size: 12px;
        @include flex-center-align;
        @include responsive(640px) {
          height: 34px;
          font-size: 18px;
          margin-bottom: 40px;
        }
        @include responsive(800px) {
          font-size: 24px;
          padding: 0px 60px;
        }
      }
      .banner-logo {
        margin-bottom: 25px;
        height: 45px;
        align-self: center;
        @include responsive(640px) {
          height: 60px;
          margin-bottom: 40px;
        }
        @include responsive(800px) {
          height: 80px;
        }
        @include responsive(1024px) {
          height: 120px;
        }
        img {
          height: 100%;
        }
      }
      .banner-title {
        align-self: center;
        width: 200px;
        font-size: 16px;
        text-align: center;
        color: white;
        @include responsive(800px) {
          font-size: 24px;
          width: auto;
        }
      }
    }
    .mac-and-strengths {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      @include responsive(1024px) {
        margin-bottom: 40px;
        display: block;
        position: relative;
      }

      .mac {
        width: 310px;
        position: relative;
        top: -20px;
        @include responsive(640px) {
          width: 520px;
        }
        @include responsive(800px) {
          width: 700px;
        }
        @include responsive(1024px) {
          width: 700px;
          position: absolute;
          top: auto;
          left: -30px;
          bottom: 0;
        }
        @include responsive(1280px) {
          left: 30px;
        }
        @include responsive(1280px) {
          width: 800px;
        }
        img {
          width: 100%;
        }
      }
      .strengths {
        box-sizing: border-box;
        padding: 0 20px;
        display: grid;
        grid-gap: 25px;
        grid-template-rows: repeat(3, 40px);
        @include responsive(640px) {
          grid-template-rows: repeat(3, 60px);
        }
        @include responsive(800px) {
        }
        @include responsive(1024px) {
          padding: 20px;
          grid-template-rows: repeat(3, 80px);
          position: relative;
          left: 650px;
          width: 330px;
        }
        @include responsive(1280px) {
          left: 870px;
        }
        .strength {
          display: grid;
          grid-gap: 10px;
          grid-auto-flow: column;
          justify-content: start;
          align-items: center;
          .strength-logo {
            height: 40px;
            @include responsive(640px) {
              height: 60px;
            }
            @include responsive(1024px) {
              height: 80px;
            }
            img {
              height: 100%;
            }
          }
          .strength-content {
            @include responsive(1024px) {
              width: 200px;
            }
          }
        }
      }
    }
  }

  .more-strengths {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
    padding: 20px;
    @include responsive(640px) {
      grid-gap: 20px;
      padding: 30px;
    }
    @include responsive(800px) {
      grid-gap: 20px;
      padding: 40px 75px;
    }
    @include responsive(1024px) {
      grid-gap: 50px;
      padding: 40px;
    }
    @include responsive(1280px) {
      padding: 40px 70px;
    }
    @include responsive(1440px) {
      padding: 40px 130px;
    }
    .more-strengths-title {
      line-height: 1.5;
      text-align: center;
    }
    .more-strengths-content {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      @include responsive(640px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include desktop() {
        grid-template-columns: repeat(5, 1fr);
      }
      .more-strength {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 10px;
        @include desktop() {
          grid-template-columns: 1fr;
          grid-template-rows: min-content auto;
          justify-items: center;
        }
        .more-strength-logo {
          width: 60px;
          height: 60px;
          @include responsive(640px) {
            width: 80px;
            height: 80px;
          }
          @include responsive(800px) {
            width: 100px;
            height: 100px;
          }
          @include responsive(1024px) {
            width: 120px;
            height: 120px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .more-strength-title-and-content {
          line-height: 1.5;
          .more-strength-title {
            color: $primary-color;
            @include desktop() {
              text-align: center;
            }
          }
          .more-strength-content {
            ul {
              li {
                margin: 0;
                @include desktop() {
                  padding-left: 0;
                  text-align: center;
                }
              }
              li::before {
                @include desktop() {
                  display: inline-block;
                  position: static;
                }
              }
            }
          }
        }
      }
    }
  }
  .assessment-reports {
    padding: 30px 25px;
    background-color: $background-color;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    @include responsive(640px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(800px) {
      padding: 40px 30px;
    }
    @include responsive(1024px) {
      padding: 60px 40px;
    }
    @include responsive(1280px) {
      padding: 60px 80px;
    }
    .assessment-reports-screenshot {
      img {
        width: 100%;
      }
    }
    .assessment-reports-title-and-content {
      display: grid;
      grid-auto-rows: auto;
      grid-gap: 10px;
      align-content: center;
      @include responsive(640px) {
        grid-gap: 20px;
      }
      @include responsive(800px) {
        grid-gap: 30px;
      }
    }
  }
  .auto-investigation {
    box-sizing: border-box;
    align-self: center;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    padding: 30px 25px;
    grid-template-columns: 1fr;
    @include responsive(640px) {
      grid-template-columns: 1fr 340px;
      padding: 30px;
    }
    @include responsive(800px) {
      grid-template-columns: 1fr 430px;
      padding: 60px 30px;
    }
    @include responsive(1024px) {
      grid-template-columns: 1fr 520px;
      padding: 60px 40px;
    }
    @include responsive(1280px) {
      grid-template-columns: 1fr 650px;
      padding: 60px 100px;
    }
    .auto-investigation-title-and-content {
      display: grid;
      grid-auto-rows: auto;
      align-content: center;
      grid-gap: 10px;

      @include responsive(640px) {
        grid-gap: 25px;
      }
      .auto-investigation-content {
        line-height: 1.5;
      }
    }
    .youtube {
      height: 170px;
      @include responsive(640px) {
        height: 190px;
      }
      @include responsive(800px) {
        height: 240px;
      }
      @include responsive(1024px) {
        height: 290px;
      }
      @include responsive(1280px) {
        height: 365px;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  .complementary-to-antivirus {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 20px;
    padding: 30px 0;
    @include responsive(640px) {
      grid-gap: 30px;
    }
    background-color: $background-color;
    @include responsive(1024px) {
      padding: 60px 0;
    }
    .complementary-to-antivirus-title {
      padding: 0 30px;
      text-align: center;
    }
    .complementaries {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include desktop() {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
      }
      .complementary {
        margin: 10px;
        box-sizing: border-box;
        width: 300px;
        background-color: white;
        @include responsive(640px) {
          width: 420px;
        }
        .complementary-title {
          padding: 10px;
          .complementary-logo {
            height: 40px;
            @include flex-center-align;
            img {
              height: 100%;
            }
          }
        }

        .complementary-content {
          padding: 10px 20px;
        }
      }
      .threatsonar {
        .complementary-title {
          background-color: $sonar-color;
        }
      }
      .antivirus {
        .complementary-title {
          background-color: $normal-color;
        }
        .complementary-content {
          ul {
            li::before {
              color: $normal-color;
            }
          }
        }
      }
    }
  }
}
