@import 'base';
$sonar-hero-banner-mobile-height: 300px;
$sonar-hero-banner-desktop-height: 450px;
$sonar-hero-banner-background: $sonar-color;
$sonar-mac-width: 800px;
$sonar-mac-height: 400px;
$banner-slogan-height: 34px;

.threatsonar-layout {
  .banner-slogan-and-logo-and-title {
    background: $sonar-hero-banner-background asset_url('threatsonar/threatsonar-banner-background.svg') no-repeat center bottom;
    background-size: 100% auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 20px 0;

    @include responsive(640px) {
      height: 300px;
    }

    @include responsive(800px) {
      height: 350px;
      padding: 25px 0;
    }

    @include responsive(1024px) {
      height: 450px;
    }
  }

  .banner-slogan {
    @include flex-center-align;
    align-self: flex-start;
    background-color: $normal-color;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin-bottom: 25px;
    padding: 0 20px;
    white-space: nowrap;

    @include responsive(640px) {
      font-size: 18px;
      height: 34px;
      margin-bottom: 40px;
    }

    @include responsive(800px) {
      font-size: 24px;
      padding: 0 60px;
    }
  }

  .banner-logo {
    align-self: center;
    height: 45px;
    margin-bottom: 25px;

    @include responsive(640px) {
      height: 60px;
      margin-bottom: 40px;
    }

    @include responsive(800px) {
      height: 80px;
    }

    @include responsive(1024px) {
      height: 120px;
    }

    object {
      height: 100%;
    }
  }

  .banner-title {
    align-self: center;
    color: $white;
    font-size: 16px;
    text-align: center;
    width: 200px;

    @include responsive(800px) {
      font-size: 24px;
      width: auto;
    }
  }

  .banner-mac-and-strengths {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include responsive(1024px) {
      display: block;
      margin-bottom: 40px;
      position: relative;
    }
  }

  .banner-mac {
    position: relative;
    top: -20px;
    width: 310px;

    @include responsive(640px) {
      width: 520px;
    }

    @include responsive(800px) {
      width: 700px;
    }

    @include responsive(1024px) {
      bottom: 0;
      left: -30px;
      position: absolute;
      top: auto;
      width: 700px;
    }

    @include responsive(1280px) {
      left: 30px;
    }

    @include responsive(1280px) {
      width: 800px;
    }

    img {
      width: 100%;
    }
  }

  .banner-strengths {
    box-sizing: border-box;
    display: grid;
    grid-gap: 25px;
    grid-template-rows: repeat(3, 40px);
    padding: 0 20px;

    @include responsive(640px) {
      grid-template-rows: repeat(3, 60px);
    }

    @include responsive(800px) {}

    @include responsive(1024px) {
      grid-template-rows: repeat(3, 80px);
      left: 650px;
      padding: 20px;
      position: relative;
      width: 330px;
    }

    @include responsive(1280px) {
      left: 870px;
    }
  }

  .banner-strength {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: start;
  }

  .banner-strength-logo {
    height: 40px;
    width: 40px;

    @include responsive(640px) {
      height: 60px;
      width: 60px;
    }

    @include responsive(1024px) {
      height: 80px;
      width: 80px;
    }

    object {
      height: 100%;
      width: 100%;
    }
  }

  .banner-strength-content {
    @include responsive(1024px) {
      width: 190px;
    }
  }

  .more-strengths {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
    padding: 20px;

    @include responsive(640px) {
      grid-gap: 20px;
      padding: 30px;
    }

    @include responsive(800px) {
      grid-gap: 20px;
      padding: 40px 75px;
    }

    @include responsive(1024px) {
      grid-gap: 50px;
      padding: 40px;
    }

    @include responsive(1280px) {
      padding: 40px 70px;
    }

    @at-root #{&}-threat-hunting-and-auto-investigation {
      display: grid;
      grid-gap: 20px;

      @include responsive(800px) {
        grid-gap: 30px;
      }
    }

    @at-root #{&}-elegant-and-premise-and-orchestration {
      display: grid;
      grid-gap: 20px;

      @include responsive(800px) {
        grid-gap: 35px;
      }
    }
  }

  .more-strengths-title {
    line-height: 1.5;
    text-align: center;
  }

  .more-strengths-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, auto);
    justify-content: start;

    @include responsive(800px) {
      grid-gap: 40px;
      grid-template-columns: repeat(2, auto);
      justify-content: center;
    }
  }

  .more-strength {
    align-items: start;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    justify-content: start;

    @include responsive(800px) {
      align-items: center;
    }
  }

  .more-strength-logo {
    height: 60px;
    width: 60px;

    @include responsive(640px) {
      height: 80px;
      width: 80px;
    }

    @include responsive(800px) {
      height: 100px;
      width: 100px;
    }

    @include responsive(1024px) {
      height: 120px;
      width: 120px;
    }

    object {
      height: 100%;
      width: 100%;
    }

    @at-root #{&}-threat-hunting,
    #{&}-auto-investigation {
      @include responsive(800px) {
        height: 200px;
        width: 200px;
      }
    }
  }

  .more-strength-title-and-content {
    line-height: 1.5;
  }

  .more-strength-title {
    color: $primary-color;

    @include responsive(800px) {
      font-size: 24px;
    }
  }

  .more-strength-content {
    li {
      margin: 0;
    }
  }


  .assessment-reports {
    align-items: center;
    background-color: $background-color;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 25px;

    @include responsive(640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(800px) {
      padding: 40px 30px;
    }

    @include responsive(1024px) {
      padding: 60px 40px;
    }

    @include responsive(1280px) {
      padding: 60px 80px;
    }
  }

  .assessment-reports-screenshot {
    img {
      width: 100%;
    }
  }

  .assessment-reports-title-and-content {
    align-content: center;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;

    @include responsive(640px) {
      grid-gap: 20px;
    }

    @include responsive(800px) {
      grid-gap: 30px;
    }

  }

  .auto-investigation {
    align-self: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    padding: 30px 25px;

    @include responsive(640px) {
      grid-template-columns: 1fr 340px;
      padding: 30px;
    }

    @include responsive(800px) {
      grid-template-columns: 1fr 430px;
      padding: 60px 30px;
    }

    @include responsive(1024px) {
      grid-template-columns: 1fr 520px;
      padding: 60px 40px;
    }

    @include responsive(1280px) {
      grid-template-columns: 1fr 650px;
      padding: 60px 100px;
    }
  }

  .auto-investigation-title-and-content {
    align-content: center;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;

    @include responsive(640px) {
      grid-gap: 25px;
    }
  }

  .auto-investigation-content {
    line-height: 1.5;
  }

  .auto-investigation-youtube {
    height: 170px;

    @include responsive(640px) {
      height: 190px;
    }

    @include responsive(800px) {
      height: 240px;
    }

    @include responsive(1024px) {
      height: 290px;
    }

    @include responsive(1280px) {
      height: 365px;
    }

    iframe {
      height: 100%;
      width: 100%;
    }
  }

  .threatsonar-is-complementary-to-your-existing-endpoint-solutions {
    background-color: $background-color;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 20px;
    padding: 30px 0;

    @include responsive(640px) {
      grid-gap: 30px;
    }

    @include responsive(1024px) {
      padding: 60px 0;
    }
  }

  .threatsonar-is-complementary-to-your-existing-endpoint-solutions-title {
    text-align: center;
  }


  .threatsonar-is-complementary-to-your-existing-endpoint-solutions-image {
    object {
      width: 100%;
    }
  }
}
