@import "base";
$sonar-hero-banner-mobile-height: 300px;
$sonar-hero-banner-desktop-height: 450px;
$sonar-mac-width: 800px;
$sonar-mac-height: 400px;

.threatvision-layout {
  .banner {
    background: $secondary-color asset_url("threatvision-banner-background.svg") no-repeat center bottom;
    background-size: 100% auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    height: 250px;
    padding: 20px 0;

    @include responsive(640px) {
      height: 300px;
    }

    @include responsive(800px) {
      height: 350px;
      padding: 25px 0;
    }

    @include responsive(1024px) {
      height: 450px;
    }
  }

  .banner-slogan {
    @include flex-center-align;
    align-self: flex-start;
    background-color: $normal-color;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin-bottom: 25px;
    padding: 0 20px;
    white-space: nowrap;

    @include responsive(640px) {
      font-size: 18px;
      height: 34px;
      margin-bottom: 40px;
    }

    @include responsive(800px) {
      font-size: 24px;
      padding: 0 60px;
    }
  }

  .banner-logo {
    align-self: center;
    height: 45px;
    margin-bottom: 25px;

    @include responsive(640px) {
      height: 60px;
      margin-bottom: 40px;
    }

    @include responsive(800px) {
      height: 80px;
    }

    @include responsive(1024px) {
      height: 120px;
    }

    img {
      height: 100%;
    }
  }

  .banner-title {
    align-self: center;
    color: $white;
    font-size: 16px;
    text-align: center;
    width: 200px;

    @include responsive(800px) {
      font-size: 24px;
      width: auto;
    }
  }



  .strengths-container {
    @include page-margin-horizontal;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

    @include responsive(640px) {
      grid-gap: 20px;
      margin-bottom: 30px;
      margin-top: 30px;
    }

    @include responsive(800px) {
      grid-gap: 40px;
    }

    @include responsive(1024px) {
      grid-gap: 50px;
      margin-bottom: 60px;
      margin-top: 60px;
    }
  }

  .strengths-title {
    line-height: 1.5;
    text-align: center;
  }

  .strengths {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(1, 1fr);

    @include responsive(640px) {
      grid-gap: 50px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }

    @include responsive(800px) {
      grid-gap: 75px;
    }

    @include responsive(1280px) {
      grid-gap: 160px;
    }
  }

  .strength {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: start;

    @include responsive(640px) {
      align-items: stretch;
      grid-auto-flow: row;
      grid-gap: 20px;
      grid-template-rows: min-content auto;
      justify-items: center;
    }
  }

  .strength-logo {
    height: 60px;
    width: 60px;

    @include responsive(640px) {
      height: 100px;
      width: 100px;
    }

    @include responsive(1024px) {
      height: 140px;
      width: 140px;
    }

    object {
      height: 100%;
      width: 100%;
    }
  }

  .strength-title {
    font-size: 12px;

    @include responsive(640px) {
      font-size: 16px;
      text-align: center;
    }

    @include responsive(1024px) {
      font-size: 20px;
    }
  }

  .intelligence-report {
    background-color: $background-color;
    display: grid;
    grid-gap: 20px;
    padding: 20px;

    @include responsive(640px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 30px;
    }

    @include responsive(800px) {
      grid-gap: 40px;
      padding: 50px 40px;
    }

    @include responsive(1024px) {
      padding: 100px 40px;
    }

    @include responsive(1280px) {
      grid-gap: 120px;
      padding: 100px 80px;
    }
  }

  .intelligence-report-screenshot {
    img {
      width: 100%;
    }
  }

  .intelligence-report-title-and-content {
    align-content: center;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;

    @include responsive(640px) {
      grid-gap: 20px;
    }

    @include responsive(800px) {
      grid-gap: 30px;
    }
  }

  .intelligence-report-content {
    li::before {
      color: $secondary-color;
    }
  }



  .threat-analysis {
    @include page-margin-horizontal;
    display: grid;
    grid-gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

    @include responsive(640px) {
      grid-gap: 20px;
    }

    @include responsive(800px) {
      grid-gap: 40px;
      margin-bottom: 40px;
      margin-top: 40px;
    }

    @include responsive(1024px) {
      margin-bottom: 60px;
      margin-top: 60px;
    }
  }

  .threat-analysis-title {
    text-align: center;
  }

  .threat-analysis-content-and-mac {
    display: grid;

    @include responsive(640px) {
      align-items: center;
      grid-template-columns: auto 1fr;
    }
  }

  .threat-analysis-content {
    order: 1;

    @include responsive(640px) {
      order: 0;
    }

    li::before {
      color: $secondary-color;
    }
  }

  .threat-analysis-mac {
    img {
      width: 100%;
    }
  }
}
