---
layout: default
---

<div class="banner-container">
    <div class="banner">
        <div class="banner-slogan">
            {% t banner.slogan %}
        </div>
        <div class="banner-logo">
            {% asset vision_logo_reverse.svg %}
        </div>
        <div class="banner-title title">
            {% t banner.title %}
        </div>
    </div>
</div>

<div class="strengths-container">
    <div class="strengths-title sonar-title">
        {% t strengths.title %}
    </div>
    <div class="strengths">
        <div class="strength">
            <div class="strength-logo">
                {% asset discover&identify.svg %}
            </div>
            <div class="strength-title title">
                {% t strengths.a %}
            </div>
        </div>
        <div class="strength">
            <div class="strength-logo">
                {% asset adversary.svg  %}
            </div>
            <div class="strength-title title">
                {% t strengths.b %}
            </div>
        </div>
        <div class="strength">
            <div class="strength-logo">
                {% asset awareness.svg %}
            </div>
            <div class="strength-title title">
                {% t strengths.c %}
            </div>
        </div>
        <div class="strength">
            <div class="strength-logo">
                {% asset proactive.svg %}
            </div>
            <div class="strength-title title">
                {% t strengths.d %}
            </div>
        </div>
    </div>
</div>
<div class="intelligence-report">
    <div class="intelligence-report-screenshot">
        {% asset intelligence_report_subscription_screenshot.png %}
    </div>
    <div class="intelligence-report-title-and-content">
        <div class="intelligence-report-title title sonar-title">
            {% t intelligence-report.title %}
        </div>
        <div class="intelligence-report-content content sonar-content">
            <ul>
                <li> {% t intelligence-report.a %}</li>
                <li> {% t intelligence-report.b %}</li>
                <li> {% t intelligence-report.c %}</li>
            </ul>
        </div>
    </div>
</div>
<div class="malware-analysis">
    <div class="malware-analysis-title title sonar-title">
        {% t malware-analysis.title %}
    </div>
    <div class="malware-analysis-content-and-mac">
        <div class="malware-analysis-content content sonar-content">
            <ul>
                <li> {% t malware-analysis.a %}</li>
                <li> {% t malware-analysis.b %}</li>
                <li> {% t malware-analysis.c %}</li>
                <li> {% t malware-analysis.d %}</li>
            </ul>
        </div>
        <div class="malware-analysis-mac">
            {% asset vision-mac.png %}
        </div>
    </div>
</div>
{% include contact-us-form.html id="threatvision-contact-us-form" %}
