
<!DOCTYPE html>
<html lang="{{ page.locale | default: 'en' }}">
{% include head.html %}

<body>
  <div class="page-not-found-container">
    <main class="page-not-found">
        <div class="page-not-found-logo">
          {% asset 404.svg %}
        </div>
        <div class="page-not-found-description">
            {% t instruction %}
        </div>
        <a class="page-not-found-take-me-home-button button" href="{{ site.data.links.index }}">
            {% t take-me-home %}
        </a>
    </main>
  </div>
</body>

</html>
