---
layout: page
---

<div class="teamt5-world-class-team">
    <div class="banner-title title title-xl title-underline">
        {% t teamt5-world-class-team.title %}
    </div>
    <div class="banner-image">
        {% asset teamt5-world-class-team.jpg %}
    </div>
    <div class="banner-content">
        {% capture string-with-newlines %}{% t teamt5-world-class-team.content %}{% endcapture %}
        {{ string-with-newlines | newline_to_br }}
    </div>
</div>

<div class="teamt5-leadership">
    <div class="teamt5-leadership-title title title-xl title-underline">
        {% t teamt5-leadership.title %}
    </div>
    <div class="teamt5-leadership-content">
        <div class="teamt5-leadership-picture">
            {% asset TT.jpg %}
        </div>
        <div class="teamt5-leadership-description">
            <div class="teamt5-leadership-name title">
                {% t teamt5-leadership.content.name %}
            </div>
            <div class="teamt5-leadership-introduction content">
                {% capture string-with-newlines %}{% t teamt5-leadership.content.introduction %}
                {% endcapture %}
                {{ string-with-newlines | newline_to_br }}
            </div>
        </div>
    </div>
</div>
