---
layout: page
---

<div class="banner">
    <div class="banner-title title title-xl title-underline">
        {% t title %}
    </div>
    <div class="banner-image">
        {% asset career_bg.jpg %}
    </div>
    <div class="banner-content">
        {% capture string_with_newlines %}
        {% t content %}
        {% endcapture %}
        {{ string_with_newlines | newline_to_br }}
    </div>
</div>
<div class="positions">
    <div class="positions-title title title-xl title-underline">
        {% t positions.title %}
    </div>
    {% assign positions = site.pages | where: "layout", "position" %}
    {% for position in positions %}
    <a class="position" href="{{position.url | relative_url }}">
        <div class="position-title">
            {{position.title}}
        </div>
        <div class="location-and-arrow">
            <div class="location">
                {{position.location}}
            </div>
            <div class="arrow">
            </div>
        </div>
    </a>
    {% endfor %}
</div>
