---
layout: page
---
<div class="branches">
    <div class="branch">
        <div class="branch-title title title-xl title-underline">
            {% t taiwan.title %}
        </div>
        <div class="branch-contact-information">
            <div>
                T: {% t taiwan.T %}
            </div>
            <div>
                M: {% t taiwan.M %}
            </div>
            <div>
                A: {% t taiwan.A %}
            </div>
        </div>
        <div class="branch-google-map">
            <iframe frameborder="0"
                src="https://maps.google.com/maps?q=11.%2C%20No.%2044%2C%20Ln.%2011%2C%20Guangfu%20N.Rd.%2C%20%20Songshan%20Dist.%2C%20105%20Taipei%20City%2C%20Taiwan&hl=en-US&z=16&output=embed">
            </iframe>
        </div>
    </div>
    <div class="branch">
        <div class="branch-title title title-xl title-underline">
            {% t japan.title %}
        </div>

        <div class="branch-contact-information">
            <div>
                M: {% t japan.M %}
            </div>
        </div>
    </div>
    <div class="branch">
        <div class="branch-title title title-xl title-underline">
            {% t asean.title %}
        </div>
        <div class="branch-contact-information">
            <div>
                M: {% t asean.M %}
            </div>
        </div>
    </div>
</div>
