---
layout: default
---
{% include carousel.html %}
<div class="banner">
    <div class="banner-title title title-xl">
        {% t banner.title %}
    </div>
    <p class="banner-content">
        {% t banner.content %}
    </p>
    <div class="scroll-bottom">
        <div class="scroll-bottom-square rotate-clockwise-45">
            <div class="scroll-bottom-content rotate-counterwise-45">
                <div class="scroll-bottom-arrow rotate-clockwise-45">
                </div>
                <div class="scroll-bottom-text">
                    {% t scroll-down %}
                </div>
            </div>
        </div>
        <div class="scroll-bottom-diamonds">
            <div class="scroll-bottom-diamond rotate-clockwise-45">
            </div>
            <div class="scroll-bottom-diamond rotate-clockwise-45">
            </div>
            <div class="scroll-bottom-diamond rotate-clockwise-45">
            </div>
            <div class="scroll-bottom-diamond rotate-clockwise-45">
            </div>
            <div class="scroll-bottom-diamond rotate-clockwise-45">
            </div>
        </div>
    </div>
</div>
<div class="teamt5-products-and-teamt5-news">
    <div class="teamt5-products">
        <div class="teamt5-products-title title title-xl title-underline">
            {% t teamt5-products.title %}
        </div>
        <div class="teamt5-products-subtitle title title-lg">
            {% t teamt5-products.subtitle %}
        </div>
        <div class="teamt5-products-content">
            <div class="teamt5-product">
                <div class="teamt5-product-title">
                    {% t teamt5-products.sonar.title %}
                </div>
                <div class="teamt5-product-logo">
                    {% asset sonar_logo_circle.svg %}
                </div>
                <div class="teamt5-product-name title-xl">
                    {% t teamt5-products.sonar.name %}
                </div>
                <div class="teamt5-product-subtitle">
                    {% t teamt5-products.sonar.subtitle %}
                </div>
                <a class="teamt5-product-learn-more button"
                    href="{% t links.teamt5-products.threatsonar %}">{% t learn-more %}</a>
            </div>
            <div class="teamt5-product">
                <div class="teamt5-product-title">
                    {% t teamt5-products.vision.title %}
                </div>
                <div class="teamt5-product-logo">
                    {% asset vision_logo_circle.svg %}
                </div>
                <div class="teamt5-product-name title-xl">
                    {% t teamt5-products.vision.name %}
                </div>
                <div class="teamt5-product-subtitle">
                    {% t teamt5-products.vision.subtitle %}
                </div>
                <a class="teamt5-product-learn-more button"
                    href="{% t links.teamt5-products.threatvision %}">{% t learn-more %}</a>
            </div>
        </div>
    </div>
    <div class="teamt5-news">
        <div class="teamt5-news-title title title-xl title-underline">
            {% t teamt5-news.title %}
        </div>
        <div class="teamt5-news-content">
            {% include articles.html %}
        </div>
        <a class="teamt5-news-more-button button button-with-arrow" href="{% t links.company.newsroom %}">
            {% t news.more %}
        </a>
    </div>
</div>
