---
layout: default
---
<div class="hero">
    hero-slider
</div>
<div class="banner">
    <div class="banner-title title title-xl">
        {% t banner.title %}
    </div>
    <p class="banner-content">
        {% t banner.content %}
    </p>
    <div class="scroll-bottom">
        <div class="scroll-bottom-square rotate-clockwise-45">
            <div class="scroll-bottom-content rotate-counterwise-45">
                <div class="scroll-bottom-arrow rotate-clockwise-45">
                </div>
                <div class="scroll-bottom-text">
                    {% t scroll_down %}
                </div>
            </div>
        </div>
        <div class="diamonds">
            <div class="diamond rotate-clockwise-45">
            </div>
            <div class="diamond rotate-clockwise-45">
            </div>
            <div class="diamond rotate-clockwise-45">
            </div>
            <div class="diamond rotate-clockwise-45">
            </div>
            <div class="diamond rotate-clockwise-45">
            </div>
        </div>
    </div>
</div>
<div class="products-and-news">
    <div class="products">
        <div class="products-title title-xl title-underline">
            {% t products.title %}
        </div>
        <div class="products-subtitle title title-lg">
            {% t products.subtitle %}
        </div>
        <div class="products-content">
            <div class="product">
                <div class="product-title">
                    {% t products.sonar.title %}
                </div>
                <div class="product-logo">
                    {% asset sonar_logo_circle.svg %}
                </div>
                <div class="product-name title-xl">
                    {% t products.sonar.name %}
                </div>
                <div class="product-subtitle">
                    {% t products.sonar.subtitle %}
                </div>
                <a class="product-learn-more button"
                    href="{{ site.data.links.products.threat-sonar }}">{% t learn-more %}</a>
            </div>
            <div class="product">
                <div class="product-title">
                    {% t products.vision.title %}
                </div>
                <div class="product-logo">
                    {% asset vision_logo_circle.svg %}
                </div>
                <div class="product-name title-xl">
                    {% t products.vision.name %}
                </div>
                <div class="product-subtitle">
                    {% t products.vision.subtitle %}
                </div>
                <a class="product-learn-more button"
                    href="{{ site.data.links.products.threat-vision }}">{% t learn-more %}</a>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="news-title title title-xl title-underline">
            {% t news.title %}
        </div>
        <div class="news-content">
            {% for post in paginator.posts %}
            <div class="new">
                <div class="new-date">
                    {{ post.date | date: "%Y-%m-%d" }}
                </div>
                <div class="new-tags tags">
                    {% for tag in post.tags %}
                    <div class="tag">
                        {{ tag }}
                    </div>
                    {% endfor %}
                </div>
                <a class="new-title" href="{{ post.url | relative_url }}">
                    {{ post.title }}
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="news-more-button button">
            {% t news.more %}

            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
        </div>
    </div>
</div>
