---
layout: page
---

<div class="latest-news-and-media-inquiries-and-browse-by-type">
    <div class="latest-news-and-media-inquiries-and-browse-by-type-title title title-xl title-underline">
        {%t news.title %}
    </div>
    <div class="latest-news-and-media-inquiries-and-browse-by-type-content">
        <div class="latest-news-and-pagination">
            {% include news.html %}
            {% include pagination.html %}
        </div>
        <div class="media-inquiries-and-browse-by-type">
            <div class="media-inquiries">
                <div class="media-inquiries-title title">
                    {% t media-inquiries.title %}
                </div>
                <div class="media-inquiries-email">
                    {% t media-inquiries.email %}
                </div>
            </div>
            {% include browse-by-type.html %}
        </div>
    </div>
</div>
