---
layout: page
---
<div class="partners">
    <div class="partner">
        <div class="partner-title title-xl title-underline">
            {% t japan.title %}
        </div>
        <div class="partner-content">
            <a class="partner-logo">
                {% asset MNCLogo.png %}
            </a>
            <div class="name-and-contact-information">
                <div class="partner-name title title-md">
                    {% t japan.name %}
                </div>
                <div class="partner-contact-information normal-md">
                </div>
            </div>
        </div>
    </div>
    <div class="partner">
        <div class="partner-title title-xl title-underline">
            {% t asean.title %}
        </div>
        <div class="partner-content">
            <a class="partner-logo" href="{% t asean.W %}">
                {% asset NETPOLEON.png %}
            </a>
            <div class="partner-name-and-contact-information">
                <div class="partner-name title title-md">
                    {% t asean.name %}
                </div>
                <div class="partner-contact-information normal-md">
                    <div>
                        A: {% t asean.A %}
                    </div>
                    <div>
                        T: {% t asean.T %}
                    </div>
                    <div>
                        W: {% t asean.W %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
