---
layout: page
---
<div class="partners">
    <div class="partner">
        <div class="title title-xl title-underline">
            {% t japan.title %}
        </div>
        <div class="content">
            <div class="logo">
                {% asset MNCLogo.png %}
            </div>
            <div class="name-and-contact-information">
                <div class="name title-md">
                    {% t japan.name %}
                </div>
                <div class="contact-information normal-md">
                    <div>
                        T: {% t japan.T %}
                    </div>
                    <div>
                        M: {% t japan.M %}
                    </div>
                    <div>
                        A: {% t japan.A %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partner">
        <div class="title title-xl title-underline">
            {% t asean.title %}
        </div>
        <div class="content">
            <div class="logo">
                {% asset NETPOLEON.png %}
            </div>
            <div class="name-and-contact-information">
                <div class="name title-md">
                    {% t asean.name %}
                </div>
                <div class="contact-information">
                    <div>
                        T: {% t asean.T %}
                    </div>
                    <div>
                        M: {% t asean.M %}
                    </div>
                    <div>
                        A: {% t asean.A %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
