---
layout: page
---
<div class="partners-by-locations">
    <div class="partners-by-location">
        <div class="partners-by-location-location title-xl title-underline">
            {% t japan %}
        </div>
        <div class="partners-by-location">
            <div class="partners">
                <div class="partner">
                    <a class="partner-logo">
                        <img class="lazy" data-src="{% asset partner/macnica-networks.png @path %}">
                    </a>
                    <div class="partner-name-and-contact-information">
                        <div class="partner-name title title-md">
                            {% t macnica-networks.name %}
                        </div>
                        <div class="partner-information normal-md">
                        </div>
                    </div>
                </div>
                <div class="partner">
                    <a class="partner-logo">
                        <img class="lazy" data-src="{% asset partner/secure-brain.png @path %}">
                    </a>
                    <div class="partner-name-and-contact-information">
                        <div class="partner-name title title-md">
                            {% t secure-brain.name %}
                        </div>
                        <div class="partner-information normal-md">
                        </div>
                    </div>
                </div>
                <div class="partner">
                    <a class="partner-logo">
                        <img class="lazy" data-src="{% asset partner/terilogy.png @path %}">
                    </a>
                    <div class="partner-name-and-contact-information">
                        <div class="partner-name title title-md">
                            {% t terilogy.name %}
                        </div>
                        <div class="partner-information normal-md">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partners-by-location">
        <div class="partners-by-location-location title-xl title-underline">
            {% t asean %}
        </div>
        <div class="partners-by-location">
            <div class="partners">
                <div class="partner">
                    <a class="partner-logo" href="{% t netpoleon.W %}">
                        <img class="lazy" data-src="{% asset partner/netpoleon.png @path %}">
                    </a>
                    <div class="partner-name-and-contact-information">
                        <div class="partner-name title title-md">
                            {% t netpoleon.name %}
                        </div>
                        <div class="partner-contact-information normal-md">
                            <div>
                                A: {% t netpoleon.A %}
                            </div>
                            <div>
                                T: {% t netpoleon.T %}
                            </div>
                            <div>
                                W: {% t netpoleon.W %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
