---
layout: base
i18n_prefix: position
---

{% include post-page-title.html %}
<main class="{{ page.layout }}">
    <div class="post-meta">
        <div class="tags">
            {% for tag in page.tags %}
            <span class="tag">
                {{ tag }}
            </span>
            {% endfor %}
        </div>
        <div class="post-location">
            {{ page.location }}
        </div>
    </div>
    <div class="content">
        {{ content }}
    </div>
    {% include position-form.html %}
</main>
