---
layout: base
---

{% include post-page-title.html %}
<main class="{{ page.layout }}">
    <div class="post-meta">
        <div class="tags">
            {% for tag in page.tags %}
            <span class="tag">
                {{ tag }}
            </span>
            {% endfor %}
        </div>
        <div class="post-date date">
            {{ page.date | date: "%Y-%m-%d" }}
        </div>
    </div>
    <div class="post-banner">
        <img src="{{page.banner}}">
    </div>
    <div class="post-content content">
        {{ content }}
    </div>
    
    <a href="javascript:history.back()" class="back-button button">
        {% t back %}
    </a>
</main>
