---
layout: default
---

<div class="hero">
    <div class="banner">
        <h5 class="slogan">
            UNCOVER HIDDEN THREATS
        </h5>
        {% asset vision_logo_reverse.svg class=logo %}
        <h1 class="title">
            A Portal for cyberspace peacemakers
        </h1>
    </div>
    <div class="strengths-container">
        <h1 class="title">
            A cyber threat intelligence platform
        </h1>
        <div class="strengths">
            <div class="strength">
                <div class="logo">
                    {% asset discover&identify.svg class=logo %}
                </div>
                <h2 class="title">
                    Discover and Identify potential threats
                </h2>
            </div>
            <div class="strength">
                <div class="logo">
                    {% asset adversary.svg  %}
                </div>
                <h2 class="title">
                    Know the adversary
                </h2>
            </div>
            <div class="strength">
                <div class="logo">
                    {% asset awareness.svg%}
                </div>
                <h2 class="title">
                    Increase situational awareness
                </h2>
            </div>
            <div class="strength">
                <div class="logo">
                    {% asset proactive.svg  %}
                </div>
                <h2 class="title">
                    Turn passive to proactive
                </h2>
            </div>
        </div>
    </div>
    <div class="intelligence-report-subscription">
        <div class="screenshot">
            {% asset intelligence_report_subscription_screenshot.png %}
        </div>
        <div class="description">
            <h1 class="title">
                Intelligence Reports subscription
            </h1>
            <ul>
                <li>Malware</li>
                <li>Incident</li>
                <li>Advanced Campaign Report</li>
                <li>DDW information</li>
                <li>OSINT collection</li>
            </ul>
        </div>
    </div>
    <div class="sample-analysis-container">
        <h1 class="title">
            {% t sample-analysis.title %}
        </h1>
        <div class="sample-analysis">
            <div class="strengths">
                <div class="strength">
                    <div class="logo">
                        {% asset malicious_indicator_collection.svg %}
                    </div>
                    <div class="content">
                        {% t malicious_indicator_collection %}
                    </div>
                </div>
                <div class="strength">
                    <div class="logo">
                        {% asset linkage_discovery.svg %}
                    </div>
                    <div class="content">
                        {% t linkage_discovery %}
                    </div>
                </div>

            </div>
            <div class="mac">
                {% asset vision-mac.png %}
            </div>
        </div>
    </div>
</div>
{% include contact-us-form.html %}
