---
layout: default
---

<div class="banner">
    <div class="banner-slogan-and-logo-and-title">
        <div class="banner-slogan">
            {% t banner.slogan %}
        </div>
        <div class="banner-logo">
            <object data="{% asset threatsonar/threatsonar-banner-logo.svg @path %}">
            </object>
        </div>
        <div class="banner-title title">
            {% t banner.title %}
        </div>
    </div>
    <div class="banner-mac-and-strengths">
        <div class="banner-mac">
            {% asset threatsonar/threatsonar-mac.png %}
        </div>
        <div class="banner-strengths">
            <div class="banner-strength">
                <div class="banner-strength-logo">
                    <object data="{% asset threatsonar/powerful.svg @path %}">
                    </object>
                </div>
                <div class="banner-strength-content">
                    {% t strengths.powerful %}
                </div>
            </div>
            <div class="banner-strength">
                <div class="banner-strength-logo">
                    <object data="{% asset threatsonar/automate.svg @path %}">
                    </object>
                </div>
                <div class="banner-strength-content">
                    {% t strengths.automate %}
                </div>
            </div>
            <div class="banner-strength">
                <div class="banner-strength-logo">
                    <object data="{% asset threatsonar/flexible.svg @path %}">
                    </object>
                </div>
                <div class="banner-strength-content">
                    {% t strengths.flexible %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-strengths">
    <div class="more-strengths-title title sonar-title">
        {% t more-strengths.title %}
    </div>
    <div class="more-strengths-content">
        <div class="more-strengths-threat-hunting-and-auto-investigation">
            <div class="more-strength more-strength-threat-hunting">
                <div class="more-strength-logo more-strength-logo-threat-hunting">
                    <object data="{% asset threatsonar/threat-hunting.svg @path %}">
                    </object>
                </div>
                <div class="more-strength-title-and-content">
                    <div class="more-strength-title title">
                        {% t more-strengths.strengths.threat-hunting.title %}
                    </div>
                    <div class="more-strength-content content">
                        <ul>
                            {% t more-strengths.strengths.threat-hunting.list %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="more-strength more-strength-auto-investigation">
                <div class="more-strength-logo more-strength-logo-auto-investigation">
                    <object data="{% asset threatsonar/auto-investigation.svg @path %}">
                    </object>
                </div>
                <div class="more-strength-title-and-content">
                    <div class="more-strength-title title">
                        {% t more-strengths.strengths.auto-investigation.title %}
                    </div>
                    <div class="more-strength-content content">
                        <ul>
                            {% t more-strengths.strengths.auto-investigation.list %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-strengths-elegant-and-premise-and-orchestration">
            <div class="more-strength">
                <div class="more-strength-logo">
                    <object data="{% asset threatsonar/elegant.svg @path %}">
                    </object>
                </div>
                <div class="more-strength-title-and-content">
                    <div class="more-strength-title title">
                        {% t more-strengths.strengths.elegant.title %}
                    </div>
                    <div class="more-strength-content content">
                        <ul>
                            {% t more-strengths.strengths.elegant.list %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="more-strength">
                <div class="more-strength-logo">
                    <object data="{% asset threatsonar/premise.svg @path %}">
                    </object>
                </div>
                <div class="more-strength-title-and-content">
                    <div class="more-strength-title title">
                        {% t more-strengths.strengths.premise.title %}
                    </div>
                    <div class="more-strength-content content">
                        <ul>
                            {% t more-strengths.strengths.premise.list %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="more-strength">
                <div class="more-strength-logo">
                    <object data="{% asset threatsonar/orchestration.svg @path %}">
                    </object>
                </div>
                <div class="more-strength-title-and-content">
                    <div class="more-strength-title title">
                        {% t more-strengths.strengths.orchestration.title %}
                    </div>
                    <div class="more-strength-content content">
                        <ul>
                            {% t more-strengths.strengths.orchestration.list %} </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="assessment-reports">
    <div class="assessment-reports-screenshot">
        {% asset threatsonar/assessment-reports-screenshot.png %}
    </div>
    <div class="assessment-reports-title-and-content">
        <div class="assessment-reports-title title sonar-title">
            {% t assessment-reports.title %}
        </div>
        <div class="assessment-reports-content content sonar-content">
            <ul>
                <li>{% t assessment-reports.a %}</li>
                <li>{% t assessment-reports.b %}</li>
                <li>{% t assessment-reports.c %}</li>
                <li>{% t assessment-reports.d %}</li>
            </ul>
        </div>
    </div>
</div>
<div class="auto-investigation">
    <div class="auto-investigation-title-and-content">
        <div class="auto-investigation-title title sonar-title">
            {% capture string-with-newlines %}{% t auto-investigation.title %}{% endcapture %}
            {{ string-with-newlines | newline_to_br }}
        </div>
        <div class="auto-investigation-content content sonar-content">
            {% capture string-with-newlines %}{% t auto-investigation.content %}{% endcapture %}
            {{ string-with-newlines | newline_to_br }}
        </div>
    </div>
    <div class="auto-investigation-youtube">
        <iframe frameborder="0" src="https://www.youtube.com/embed/WtABJLJVMBw">
        </iframe>
    </div>
</div>
<div class="threatsonar-is-complementary-to-your-existing-endpoint-solutions">
    <div class="threatsonar-is-complementary-to-your-existing-endpoint-solutions-title title sonar-title">
        {% capture string-with-newlines %}{% t threatsonar-is-complementary-to-your-existing-endpoint-solutions.title %}{% endcapture %}
        {{ string-with-newlines | newline_to_br }}
    </div>
    <div class="threatsonar-is-complementary-to-your-existing-endpoint-solutions-image">
        <object data="{% asset threatsonar/threatsonar-is-complementary-to-your-existing-endpoint-solutions.svg @path %}">
        </object>
    </div>
</div>
{% include contact-us-form.html id="threatsonar-contact-us-form" %}
