---
layout: default
---

<div class="banner">
    <div class="banner__slogan">
        {% t banner.slogan %}
    </div>
    <div class="banner__logo">
        {% asset vision_logo_reverse.svg %}
    </div>
    <div class="banner__title title">
        {% t banner.title %}
    </div>
</div>

<div class="strengths-container">
    <div class="strengths__title sonar-title">
        {% t strengths.title %}
    </div>
    <div class="strengths">
        <div class="strength">
            <div class="strength__logo">
                {% asset discover&identify.svg %}
            </div>
            <div class="strength__title title">
                {% t strengths.a %}
            </div>
        </div>
        <div class="strength">
            <div class="strength__logo">
                {% asset adversary.svg  %}
            </div>
            <div class="strength__title title">
                {% t strengths.b %}
            </div>
        </div>
        <div class="strength">
            <div class="strength__logo">
                {% asset awareness.svg %}
            </div>
            <div class="strength__title title">
                {% t strengths.c %}
            </div>
        </div>
        <div class="strength">
            <div class="strength__logo">
                {% asset proactive.svg %}
            </div>
            <div class="strength__title title">
                {% t strengths.d %}
            </div>
        </div>
    </div>
</div>
<div class="intelligence-report">
    <div class="intelligence-report__screenshot">
        {% asset intelligence_report_subscription_screenshot.png %}
    </div>
    <div class="intelligence-report__title-and-content">
        <div class="intelligence-report__title title sonar-title">
            {% t intelligence-report.title %}
        </div>
        <div class="intelligence-report__content content sonar-content">
            <ul>
                {% t intelligence-report.list %}
            </ul>
        </div>
    </div>
</div>
<div class="malware-analysis">
    <div class="malware-analysis__title title sonar-title">
        {% t malware-analysis.title %}
    </div>
    <div class="malware-analysis__content-and-mac">
        <div class="malware-analysis__content content sonar-content">
            <ul>
                {% t malware-analysis.list %}
            </ul>
        </div>
        <div class="malware-analysis__mac">
            {% asset vision-mac.png %}
        </div>
    </div>
</div>
{% include contact-us-form.html id="threatvision-contact-us-form" %}
