---
layout: default
---

<div class="banner">
    <div class="banner__slogan-and-logo-and-title">
        <div class="banner__slogan">
            {% t banner.slogan %}
        </div>
        <div class="banner__logo">
            {% asset sonar_logo_reverse.svg %}
        </div>
        <div class="banner__title title">
            {% t banner.title %}
        </div>
    </div>
    <div class="banner__mac-and-strengths">
        <div class="banner__mac">
            {% asset sonar-mac.png %}
        </div>
        <div class="banner__strengths">
            <div class="banner__strength">
                <div class="banner__strength-logo">
                    {% asset powerful.svg %}
                </div>
                <div class="banner__strength-content">
                    {% t strengths.powerful %}
                </div>
            </div>
            <div class="banner__strength">
                <div class="banner__strength-logo">
                    {% asset automate.svg %}
                </div>
                <div class="banner__strength-content">
                    {% t strengths.automate %}
                </div>
            </div>
            <div class="banner__strength">
                <div class="banner__strength-logo">
                    {% asset flexible.svg %}
                </div>
                <div class="banner__strength-content">
                    {% t strengths.flexible %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-strengths">
    <div class="more-strengths__title title sonar-title">
        {% t more-strengths.title %}
    </div>
    <div class="more-strengths__content">
        <div class="more-strength">
            <div class="more-strength__logo">
                {% asset elegant.svg %}
            </div>
            <div class="more-strength__title-and-content">
                <div class="more-strength__title title"> {% t more-strengths.strengths.elegant.title %}
                </div>
                <div class="more-strength__content content">
                    <ul>
                        {% t more-strengths.strengths.elegant.list %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="more-strength">
            <div class="more-strength__logo">
                {% asset premise.svg %}
            </div>
            <div class="more-strength__title-and-content">
                <div class="more-strength__title title">
                    {% t more-strengths.strengths.premise.title %}
                </div>
                <div class="more-strength__content content">
                    <ul>
                        {% t more-strengths.strengths.premise.list %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="more-strength">
            <div class="more-strength__logo">
                {% asset threat_hunting.svg %}
            </div>
            <div class="more-strength__title-and-content">
                <div class="more-strength__title title">
                    {% t more-strengths.strengths.threat_hunting.title %}
                </div>
                <div class="more-strength__content content">
                    <ul>
                        {% t more-strengths.strengths.threat_hunting.list %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="more-strength">
            <div class="more-strength__logo">
                {% asset auto-investigation.svg class=logo %}
            </div>
            <div class="more-strength__title-and-content">
                <div class="more-strength__title title">
                    {% t more-strengths.strengths.auto-investigation.title %}
                </div>
                <div class="more-strength__content content">
                    <ul>
                        {% t more-strengths.strengths.auto-investigation.list %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="more-strength">
            <div class="more-strength__logo">
                {% asset orchestration.svg class=logo %}
            </div>
            <div class="more-strength__title-and-content">
                <div class="more-strength__title title">
                    {% t more-strengths.strengths.orchestration.title %}
                </div>
                <div class="more-strength__content content">
                    <ul>
                        {% t more-strengths.strengths.orchestration.list %} </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="assessment-reports">
    <div class="assessment-reports__screenshot">
        {% asset sonar_assessment_reports.png %}
    </div>
    <div class="assessment-reports__title-and-content">
        <div class="assessment-reports__title title sonar-title">
            {% t assessment-reports.title %}
        </div>
        <div class="assessment-reports__content content sonar-content">
            <ul>
                <li>{% t assessment-reports.a %}</li>
                <li>{% t assessment-reports.b %}</li>
                <li>{% t assessment-reports.c %}</li>
                <li>{% t assessment-reports.d %}</li>
            </ul>
        </div>
    </div>
</div>
<div class="auto-investigation">
    <div class="auto-investigation__title-and-content">
        <div class="auto-investigation__title title sonar-title">
            {% capture string-with-newlines %}{% t auto-investigation.title %}{% endcapture %}
            {{ string-with-newlines | newline_to_br }}
        </div>
        <div class="auto-investigation__content content sonar-content">
            {% capture string-with-newlines %}{% t auto-investigation.content %}{% endcapture %}
            {{ string-with-newlines | newline_to_br }}
        </div>
    </div>
    <div class="auto-investigation__youtube">
        <iframe frameborder="0" src="https://www.youtube.com/embed/WtABJLJVMBw">
        </iframe>
    </div>
</div>
<div class="complementary__to-antivirus">
    <div class="complementary__to-antivirus__title title sonar-title">
        {% t complementary__to-antivirus.title %}
    </div>
    <div class="complementaries">
        <div class="complementary">
            <div class="complementary__title title threatsonar">
                <div class="complementary__logo">
                    {% asset sonar_logo_reverse.svg %}
                </div>
            </div>
            <div class="complementary__content content threatsonar">
                <ul>
                    {% t complementary__to-antivirus.threatsonar.list %}
                </ul>
            </div>
        </div>
        <div class="complementary">
            <div class="complementary__title title antivirus">
                <div class="complementary__logo">
                    {% asset antivirus.svg %}
                </div>
            </div>
            <div class="complementary__content content antivirus">
                <ul>
                    {% t complementary__to-antivirus.antivirus.list %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% include contact-us-form.html id="threatsonar-contact-us-form" %}
