---
layout: default
---
<div class="hero">
    <div class="banner">
        <h5 class="slogan">
            {% t banner.slogan %}
        </h5>
        <div class="logo">
            {% asset sonar_logo_reverse.svg %}
        </div>
        <h1 class="title">
            {% t banner.title %}
        </h1>
    </div>
    <div class="mac-and-strengths">
        <div class="mac">
            {% asset sonar-mac.png %}
        </div>
        <div class="strengths">
            <div class="strength">
                <div class="logo">
                    {% asset powerful.svg %}
                </div>
                <p class="content">
                    {% t strengths.powerful %}
                </p>
            </div>
            <div class="strength">
                <div class="logo">
                    {% asset automate.svg %}
                </div>
                <p class="content">
                    {% t strengths.automate %}
                </p>
            </div>
            <div class="strength">
                <div class="logo">
                    {% asset flexible.svg %}
                </div>
                <p class="content">
                    {% t strengths.flexible %}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="more-strengths">
    <div class="more-strengths-title title-xl">
        {% t more-strengths.title %}
    </div>
    <div class="strengths">
        <div class="strength">
            <div class="logo">
                {% asset elegant.svg %}
            </div>
            <div class="content">
                <div class="title title-md"> {% t more-strengths.strengths.elegant.title %} </div>
                <ul>
                    <li>{% t more-strengths.strengths.elegant.a %}</li>
                    <li>{% t more-strengths.strengths.elegant.b %}</li>
                    <li>{% t more-strengths.strengths.elegant.c %}</li>
                </ul>
            </div>
        </div>
        <div class="strength">
            <div class="logo">
                {% asset premise.svg %}
            </div>
            <div class="content">
                <div class="title title-md"> {% t more-strengths.strengths.premise.title %} </div>
                <ul>
                    <li>{% t more-strengths.strengths.premise.a %}</li>
                    <li>{% t more-strengths.strengths.premise.b %}</li>
                </ul>
            </div>
        </div>
        <div class="strength">
            <div class="logo">
                {% asset threat_hunting.svg %}
            </div>
            <div class="content">
                <div class="title title-md"> {% t more-strengths.strengths.threat_hunting.title %} </div>
                <ul>
                    <li>{% t more-strengths.strengths.threat_hunting.a %} </li>
                    <li>{% t more-strengths.strengths.threat_hunting.b %} </li>
                    <li>{% t more-strengths.strengths.threat_hunting.c %} </li>
                </ul>
            </div>
        </div>
        <div class="strength">
            <div class="logo">
                {% asset auto-investigation.svg class=logo %}
            </div>
            <div class="content ">
                <div class="title title-md">{% t more-strengths.strengths.auto-investigation.title %} </div>
                <ul>
                    <li>{% t more-strengths.strengths.auto-investigation.a %}</li>
                    <li>{% t more-strengths.strengths.auto-investigation.b %}</li>
                </ul>
            </div>
        </div>
        <div class="strength">
            <div class="logo">
                {% asset orchestration.svg class=logo %}
            </div>
            <div class="content">
                <div class="title title-md"> {% t more-strengths.strengths.orchestration.title %} </div>
                <ul>
                    <li>{% t more-strengths.strengths.orchestration.a %}</li>
                    <li>{% t more-strengths.strengths.orchestration.b %}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="assessment-reports">
    <div class="image">
        {% asset sonar_assessment_reports.png %}
    </div>
    <div class="content">
        <div class="title title-xl">
            {% t assessment-reports.title %}
        </div>
        <ul>
            <li>{% t assessment-reports.a %}</li>
            <li>{% t assessment-reports.b %}</li>
            <li>{% t assessment-reports.c %}</li>
            <li>{% t assessment-reports.d %}</li>
        </ul>
    </div>
</div>
<div class="auto-investigation">
    <div class="title-and-content">
        <div class="title title-xl">
            {% t auto-investigation.title %}
        </div>
        <div class="content">
            {% t auto-investigation.content %}
        </div>
    </div>
    <div class="youtube">
        <iframe frameborder="0" src="https://www.youtube.com/embed/WtABJLJVMBw">
        </iframe>
    </div>
</div>
<div class="complementary-to-antivirus">
    <div class="title title-xl">
        {% t complementary-to-antivirus.title %}
    </div>
    <div class="threat-sonar-and-antivirus">
        <div class="threat-sonar">
            <div class="title">
                <div class="logo">
                    {% asset sonar_logo_reverse.svg %}
                </div>
            </div>
            <div class="content">
                <ul>
                    <li>{% t complementary-to-antivirus.threat-sonar.a %}</li>
                    <li>{% t complementary-to-antivirus.threat-sonar.b %}</li>
                    <li>{% t complementary-to-antivirus.threat-sonar.c %}</li>
                    <li>{% t complementary-to-antivirus.threat-sonar.d %}</li>
                    <li>{% t complementary-to-antivirus.threat-sonar.e %}</li>
                    <li>{% t complementary-to-antivirus.threat-sonar.f %}</li>
                    <li>{% t complementary-to-antivirus.threat-sonar.g %}</li>
                </ul>
            </div>
        </div>
        <div class="antivirus">
            <div class="title">
                <div class="logo">
                    {% asset antivirus.svg %}
                </div>
            </div>
            <div class="content">
                <ul>
                    <li>{% t complementary-to-antivirus.antivirus.a %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.b %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.c %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.d %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.e %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.f %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.g %}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="contact-us">

</div>
