---
layout: default
---

<div class="banner-container">
    <div class="banner">
        <div class="banner-slogan">
            {% t banner.slogan %}
        </div>
        <div class="banner-logo">
            {% asset vision_logo_reverse.svg %}
        </div>
        <div class="banner-title title">
            {% t banner.title %}
        </div>
    </div>
</div>
<div class="strengths-container">
    <div class="strengths-title sonar-title">
        {% t strengths.title %}
    </div>
    <div class="strengths">
        <div class="strength">
            <div class="strength-logo">
                {% asset discover&identify.svg %}
            </div>
            <div class="strength-title title">
                {% t strengths.a %}
            </div>
        </div>
        <div class="strength">
            <div class="strength-logo">
                {% asset adversary.svg  %}
            </div>
            <div class="strength-title title">
                {% t strengths.b %}
            </div>
        </div>
        <div class="strength">
            <div class="strength-logo">
                {% asset awareness.svg %}
            </div>
            <div class="strength-title title">
                {% t strengths.c %}
            </div>
        </div>
        <div class="strength">
            <div class="strength-logo">
                {% asset proactive.svg %}
            </div>
            <div class="strength-title title">
                {% t strengths.d %}
            </div>
        </div>
    </div>
</div>
<div class="intelligence-report-subscription">
    <div class="intelligence-report-subscription-screenshot">
        {% asset intelligence_report_subscription_screenshot.png %}
    </div>
    <div class="intelligence-report-subscription-title-and-content">
        <div class="intelligence-report-subscription-title title sonar-title">
            {% t intelligence-report-subscription.title %}
        </div>
        <div class="intelligence-report-subscription-content content">
            <ul>
                <li> {% t intelligence-report-subscription.a %}</li>
                <li> {% t intelligence-report-subscription.b %}</li>
                <li> {% t intelligence-report-subscription.c %}</li>
                <li> {% t intelligence-report-subscription.d %}</li>
                <li> {% t intelligence-report-subscription.e %}</li>
            </ul>
        </div>
    </div>
</div>
<div class="sample-analysis-container">
    <div class="sample-analysis-title title sonar-title">
        {% t sample-analysis.title %}
    </div>
    <div class="sample-analysis">
        <div class="sample-analysis-strengths">
            <div class="sample-analysis-strength">
                <div class="sample-analysis-strength-logo">
                    {% asset malicious_indicator_collection.svg %}
                </div>
                <div class="sample-analysis-strength-title title">
                    {% t malicious_indicator_collection %}
                </div>
            </div>
            <div class="sample-analysis-strength">
                <div class="sample-analysis-strength-logo">
                    {% asset linkage_discovery.svg %}
                </div>
                <div class="sample-analysis-strength-title title">
                    {% t linkage_discovery %}
                </div>
            </div>

        </div>
        <div class="mac">
            {% asset vision-mac.png %}
        </div>
    </div>
</div>
{% include contact-us-form.html id="threat-vision-contact-us-form" %}
