---
layout: default
---

<div class="banner-container">
    <div class="banner">
        <div class="banner-slogan">
            {% t banner.slogan %}
        </div>
        <div class="banner-logo">
            {% asset sonar_logo_reverse.svg %}
        </div>
        <div class="banner-title title">
            {% t banner.title %}
        </div>
    </div>
    <div class="mac-and-strengths">
        <div class="mac">
            {% asset sonar-mac.png %}
        </div>
        <div class="strengths">
            <div class="strength">
                <div class="strength-logo">
                    {% asset powerful.svg %}
                </div>
                <div class="strength-content">
                    {% t strengths.powerful %}
                </div>
            </div>
            <div class="strength">
                <div class="strength-logo">
                    {% asset automate.svg %}
                </div>
                <div class="strength-content">
                    {% t strengths.automate %}
                </div>
            </div>
            <div class="strength">
                <div class="strength-logo">
                    {% asset flexible.svg %}
                </div>
                <div class="strength-content">
                    {% t strengths.flexible %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="more-strengths">
    <div class="more-strengths-title title sonar-title">
        {% t more-strengths.title %}
    </div>
    <div class="more-strengths-content">
        <div class="more-strength">
            <div class="more-strength-logo">
                {% asset elegant.svg %}
            </div>
            <div class="more-strength-title-and-content">
                <div class="more-strength-title title"> {% t more-strengths.strengths.elegant.title %}
                </div>
                <div class="more-strength-content content">
                    <ul>
                        <li>{% t more-strengths.strengths.elegant.a %}</li>
                        <li>{% t more-strengths.strengths.elegant.b %}</li>
                        <li>{% t more-strengths.strengths.elegant.c %}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="more-strength">
            <div class="more-strength-logo">
                {% asset premise.svg %}
            </div>
            <div class="more-strength-title-and-content">
                <div class="more-strength-title title">
                    {% t more-strengths.strengths.premise.title %}
                </div>
                <div class="more-strength-content content">
                    <ul>
                        <li>{% t more-strengths.strengths.premise.a %}</li>
                        <li>{% t more-strengths.strengths.premise.b %}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="more-strength">
            <div class="more-strength-logo">
                {% asset threat_hunting.svg %}
            </div>
            <div class="more-strength-title-and-content">
                <div class="more-strength-title title">
                    {% t more-strengths.strengths.threat_hunting.title %}
                </div>
                <div class="more-strength-content content">
                    <ul>
                        <li>{% t more-strengths.strengths.threat_hunting.a %} </li>
                        <li>{% t more-strengths.strengths.threat_hunting.b %} </li>
                        <li>{% t more-strengths.strengths.threat_hunting.c %} </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="more-strength">
            <div class="more-strength-logo">
                {% asset auto-investigation.svg class=logo %}
            </div>
            <div class="more-strength-title-and-content">
                <div class="more-strength-title title">
                    {% t more-strengths.strengths.auto-investigation.title %}
                </div>
                <div class="more-strength-content content">
                    <ul>
                        <li>{% t more-strengths.strengths.auto-investigation.a %}</li>
                        <li>{% t more-strengths.strengths.auto-investigation.b %}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="more-strength">
            <div class="more-strength-logo">
                {% asset orchestration.svg class=logo %}
            </div>
            <div class="more-strength-title-and-content">
                <div class="more-strength-title title">
                    {% t more-strengths.strengths.orchestration.title %}
                </div>
                <div class="more-strength-content content">
                    <ul>
                        <li>{% t more-strengths.strengths.orchestration.a %}</li>
                        <li>{% t more-strengths.strengths.orchestration.b %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="assessment-reports">
    <div class="assessment-reports-screenshot">
        {% asset sonar_assessment_reports.png %}
    </div>
    <div class="assessment-reports-title-and-content">
        <div class="assessment-reports-title title sonar-title">
            {% t assessment-reports.title %}
        </div>
        <div class="assessment-reports-content content sonar-content">
            <ul>
                <li>{% t assessment-reports.a %}</li>
                <li>{% t assessment-reports.b %}</li>
                <li>{% t assessment-reports.c %}</li>
                <li>{% t assessment-reports.d %}</li>
            </ul>
        </div>
    </div>
</div>
<div class="auto-investigation">
    <div class="auto-investigation-title-and-content">
        <div class="auto-investigation-title title sonar-title">
            {% t auto-investigation.title %}
        </div>
        <div class="auto-investigation-content content sonar-content">
            {% t auto-investigation.content %}
        </div>
    </div>
    <div class="youtube">
        <iframe frameborder="0" src="https://www.youtube.com/embed/WtABJLJVMBw">
        </iframe>
    </div>
</div>
<div class="complementary-to-antivirus">
    <div class="complementary-to-antivirus-title title sonar-title">
        {% t complementary-to-antivirus.title %}
    </div>
    <div class="complementaries">
        <div class="complementary threatsonar">
            <div class="complementary-title title">
                <div class="complementary-logo">
                    {% asset sonar_logo_reverse.svg %}
                </div>
            </div>
            <div class="complementary-content content">
                <ul>
                    <li>{% t complementary-to-antivirus.threatsonar.a %}</li>
                    <li>{% t complementary-to-antivirus.threatsonar.b %}</li>
                    <li>{% t complementary-to-antivirus.threatsonar.c %}</li>
                    <li>{% t complementary-to-antivirus.threatsonar.d %}</li>
                    <li>{% t complementary-to-antivirus.threatsonar.e %}</li>
                    <li>{% t complementary-to-antivirus.threatsonar.f %}</li>
                    <li>{% t complementary-to-antivirus.threatsonar.g %}</li>
                </ul>
            </div>
        </div>
        <div class="complementary antivirus">
            <div class="complementary-title title">
                <div class="complementary-logo">
                    {% asset antivirus.svg %}
                </div>
            </div>
            <div class="complementary-content content">
                <ul>
                    <li>{% t complementary-to-antivirus.antivirus.a %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.b %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.c %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.d %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.e %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.f %}</li>
                    <li>{% t complementary-to-antivirus.antivirus.g %}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include contact-us-form.html id="threatsonar-contact-us-form" %}
